<div class="form-container">
    <form method="post" action="<?php echo $this->url('admin-report', array('action'=>'execute-export-customer'))?>">
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Start Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="startDate" value="<?php echo $startDate?>"/></div>
            
            <div class="label-container left"><label class="second">End Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="endDate" value="<?php echo $endDate?>"/></div>
        </div>
        
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input class="button" type="submit" value="Click here to export"/>
        </div>
    </form>
</div>
<script>
     $(function() {
         $( ".datepicker" ).datepicker();
     });
</script>
