<div class="form-container">
    <h3>Order Report</h3>
    <form method="post">
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Start Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="startDate" value="<?php echo $formData['startDate']?>"/></div>
            
            <div class="label-container left"><label class="second">End Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="endDate" value="<?php echo $formData['endDate']?>"/></div>
        </div>
        
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input class="button" type="submit" value="Show Orders" />
        </div>

    </form>
</div>

<table style="margin-top: 10px; width: 135%" class="report-table" cellspacing="1" cellpadding="2" border="0">
    <tr>
        <th>Action</th>
        <th>Oder ID</th>
        <th>Vendor</th>
        <th>Name</th>
        <th>Total Sale</th>
        <th>Product and Options</th>
        <th>Gross Net</th>
    </tr>
    <?php $totalSubPrice = 0;
        $totalPink = 0;
        $totalSales=0;
	$myPriceTotal=0;
        $chengInfo = array('supplied'=>0, 'cost'=>0, 'grossProfit'=>0);
        $lyndInfo = array('supplied'=>0, 'cost'=>0, 'grossProfit'=>0);
        $suppliesInfo = array('supplied'=>0, 'cost'=>0, 'grossProfit'=>0);
        if(count($carts)>0):?>
    <?php foreach($carts as $key=>$cart):?>
    <tr class="<?php echo ($key%2 == 0)? 'data-gray':''?>">
        <td style="vertical-align: top"><a href="<?php echo $this->url('admin-order', array('action'=>'edit', 'id'=>$cart['CartID']));?>">View</a></td>
        <td style="vertical-align: top"><?php echo $cart['CartID']?></td>
        <td style="vertical-align: top"><?php echo $cart['Vendor']?></td>
        <td style="vertical-align: top"><?php echo $cart['BillingFirstName'].' '.$cart['BillingLastName']?></td>
        <td style="vertical-align: top"><?php echo '$'.number_format($cart['PriceTotal'],2,'.',',')?></td>
        <td>
            <?php foreach ($cart['products'] as $product): ?>
                <div class="product">
                     <a class="product-title" class="content" style="font-size: 12px;" href="<?php echo $this->url('product', array('id' => $product['ProductID'])) ?>"><?php echo $product['CartProductName'] ?></a>
                     <div class="porduct-option">
                         <div class="product-info  clearfix">
                             <span class="medium">ItemPrice : </span>
                             <span class="large">&nbsp;</span>
                             <span class="small red"><?php echo '$'.number_format($product['ProductPrice'],2,'.',',') ?></span>
                             <?php $productPrice = ($cart['Vendor']=='Cheng')? $product['ProductPriceCheng']:$product['ProductPriceLynd']?>
                             <span class="small <?php echo($product['ProductCost'] > 0)?'green':'grey'?>"><?php echo '$'.number_format($product['ProductCost'],2,'.',',') ?></span>
                         </div>
                         <div class="product-info clearfix">
                             <span class="medium">Quantity : </span>
                             <span class="large"><?php echo $product['ProductQty']*$product['ProductQty2'] ?></span>
                         </div>
                         <?php if($product['CategoryID']<>7 && $product['CategoryID']<>8):?>
                         <div class="product-info clearfix">    
                             <span class="medium">Shipping</span>
                             <span class="large">&nbsp;</span>
                             <span class="small red"><?php echo number_format($product['ProductShippingPrice1'],2,'.',',') ?></span>
                         </div>
                         <?php endif;?>
                         <?php foreach($product['options'] as $option):
                             $optionName = $option['OptionName'];
                             $Pos1=strpos($optionName,'$');
                             $myOptionPrice = ($cart['Vendor']=='Cheng')?$option['PriceCheng']:$option['PriceLynd'];
                             
                             if($option['OptionGroupName'] =='Quantity'):
                                 $productPrice = $myOptionPrice;
                             else:
                                $optionName=trim(substr($optionName,0,$Pos1-1)); 
                         ?>
                         <div class="product-info clearfix">
                             <span class="medium"><?php echo $option['OptionGroupName']?> : </span>
                             <span class="large"><?php echo $optionName ?></span>
                             <?php if($option['OptionGroupName']=='Shipping'):?>
                             <span class="small red"><?php echo '$'.number_format($product['ProductShippingPrice1'],2,'.',',') ?></span>
                             <?php else:?>
                             <span class="small <?php echo($option['AddPrice'] > 0)?'red':'grey'?>"><?php echo '$'.number_format($option['AddPrice'],2,'.',',') ?></span>
                             <?php endif;?>
                             <span class="small <?php echo($myOptionPrice > 0)?'green':'grey'?>"><?php echo '$'.number_format($myOptionPrice,2,'.',',')?></span>
                         </div>
                         <?php endif;?>
                         <?php $totalSubPrice=$totalSubPrice+$product['ProductQty']*$product['ProductQty2']*$myOptionPrice; 
                         endforeach;?>
                         <?php if($product['ProfessionalStyle']=='Y'):?>
                         <div class="product-info  clearfix">
                             <span class="medium">Hair Cut : </span>
                             <span class="large">A professional hair cut and style</span>
                             <span class="small red"><?php echo number_format($product['ExtraPrice1'],2,'.',',') ?></span>
                             <?php $productPrice = ($cart['Vendor']=='Cheng')? $product['ProductPriceCheng']:$product['ProductPriceLynd']?>
                             <span class="small"><?php echo number_format(18,2,'.',',') ?></span>
                         </div>
                         <?php endif;?>
                         
                         <?php if($product['FullCap']=='Y'):
                         $vendorFullCapPrice = ($cart['Vendor']=='Cheng')?$product['ChengFullCapPrice']:$product['LyndFullCapPrice'];
                         ?>
                         <div class="product-info  clearfix">
                             <span class="medium">Full Cap (wig) : </span>
                             <span class="large">&nbsp;</span>
                             <span class="small red"><?php echo number_format($product['FullCapPrice'],2,'.',',') ?></span>
                             <span class="small"><?php echo number_format($vendorFullCapPrice,2,'.',',') ?></span>
                         </div>
                         <?php endif;?>
                     </div>
                </div>
            <?php $totalSubPrice = $totalSubPrice + $productPrice ;
            if($product['CategoryID']<>7 && $product['CategoryID']<>8){
                $suppliesInfo['cost'] += $productPrice;
            }else{
                if($cart['Vendor']=='Cheng'){
                    $chengInfo['cost'] += $productPrice;
                }else{
                    $lyndInfo['cost'] += $productPrice;
                }
            }
            endforeach; ?>
        </td>
        <td><span class="pink"><?php echo '$'.number_format($cart['prices']['grossProfit'],2,'.',',')?></span></td>
    </tr>
    <?php
    if($cart['Vendor']=='Cheng'){
        $chengInfo['supplied']++;
        $chengInfo['grossProfit'] += $cart['prices']['grossProfit'];
    }elseif($cart['Vendor']=='Lynd'){
        $lyndInfo['supplied']++;
        $lyndInfo['grossProfit'] += $cart['prices']['grossProfit'];
    }else{
        $suppliesInfo['supplied']++;
        $suppliesInfo['grossProfit'] += $cart['prices']['grossProfit'];
    }
    $totalPink=$totalPink+($cart['PriceTotal']-$cart['GrossProfit']);
    $totalSales=$totalSales+$cart['PriceTotal'];
    $myPriceTotal=$myPriceTotal+$cart['GrossProfit'];
    endforeach; else:?>
    <tr>
        <td colspan="7"> No Data Available</td>
    </tr>
    <?php endif;?>
 </table>

<?php if($totalSales > 0):
    $balance=$myPriceTotal-$fixedCost;
    $creditCardExpense=$totalSales*0.03;
    $totalGrossCost=$totalPink+$creditCardExpense; //$MyPriceTotal+$CreditCardExpense;//$Balance+$CreditCardExpense;
    $COG_OF_Sales=$totalGrossCost/$totalSales*100;
    $totalAllCosts=$totalGrossCost+$fixedCost;

    $grossProfit=$totalSales-$totalAllCosts;//$TotalGrossCost;//$MyPriceTotal;
    $totalNetProfit=$grossProfit/$totalSales*100;
    if($totalNetProfit<0){$totalNetProfit=0;}
    $daysNumber = (strtotime($formData['endDate'])-strtotime($formData['startDate']))/(60*60*24)+1;
?>
<table style="background-color:#CCCCCC; font-weight:Bold; width: 50%; font-size: 11px; float: left" class="report-table" cellpadding="5" cellspacing="1" border="0">
    <tr>
        <td>Days Number:</td>
        <td><?php echo  $daysNumber?></td>
    </tr>
    <tr>
        <td>Gross Sales:</td>
        <td><span class="red"><?php echo '$'.number_format($totalSales,2,'.',',') ?></span></td>
    </tr>
    <tr>
        <td>Gross Cost Of Goods Sold:</td>
        <td><span class="green"><?php echo '$'.number_format($totalPink,2,'.',',') ?></span></td>
    </tr>
    <tr>
        <td>Credit Card Expense:</td>
        <td><?php echo '$'.number_format($creditCardExpense,2,'.',',') ?></td>
    </tr>
    <tr>
        <td>Total Gross Cost:</td>
        <td><?php echo '$'.number_format($totalGrossCost,2,'.',',') ?></td>
    </tr>
    <tr>
        <td>COGS % OF Sales:</td>
        <td><?php echo number_format($COG_OF_Sales,2,'.',',').'%' ?></td>
    </tr>
    <tr>
        <td>Fixed Cost:</td>
        <td><?php echo '$'.number_format($fixedCost,2,'.',',') ?></td>
    </tr>
    <tr>
        <td>Total All Cost:</td>
        <td><?php echo '$'.number_format($totalAllCosts,2,'.',',') ?></td>
    </tr>
    <tr>
        <td>Gross Profit:</td>
        <td><?php echo '$'.number_format($grossProfit,2,'.',',') ?></td>
    </tr>
    <tr>
        <td>Total Net Profit:</td>
        <td><?php echo number_format($totalNetProfit,2,'.',',').'%' ?></td>
    </tr>
</table>

<table style="background-color:#CCCCCC; font-weight:Bold; width: 45%; font-size: 11px; float: right" class="report-table" cellpadding="5" cellspacing="1" border="0">
    <tr style="text-align: center">
        <td colspan="5">Vendors Comparison Costs Vs COGS</td>
    </tr>
    
    <tr style="text-align: center">
        <td>Vendor</td>
        <td>#Orders</td>
        <td>Sales&nbsp;Amount</td>
        <td>Gross&nbsp;Profit</td>
        <td>% of&nbsp;Goods&nbsp;Sold</td>
    </tr>
        
    <tr  style="text-align: center">
        <td>Cheng</td>
        <td><?php echo $chengInfo['supplied'];?></td>
        <td><?php echo '$'.number_format($chengInfo['cost'],2,'.',',')?></td>
        <td><?php echo '$'.number_format($chengInfo['grossProfit'],2,'.',',')?></td>
        <td><?php echo($chengInfo['grossProfit']==0)? '0.00 %':number_format($chengInfo['cost']*100/$chengInfo['grossProfit'],2,'.',',').' %'?></td>
    </tr>
    <tr  style="text-align: center">
        <td>Lynd</td>
        <td><?php echo $lyndInfo['supplied'];?></td>
        <td><?php echo '$'.number_format($lyndInfo['cost'],2,'.',',')?></td>
        <td><?php echo '$'.number_format($lyndInfo['grossProfit'],2,'.',',')?></td>
        <td><?php echo($lyndInfo['grossProfit']==0)? '0.00 %': number_format($lyndInfo['cost']*100/$lyndInfo['grossProfit'],2,'.',',').
                ' %'?></td>
    </tr>
    <tr style="text-align: center">
        <td>Supplies</td>
        <td><?php echo $suppliesInfo['supplied'];?></td>
        <td><?php echo '$'.number_format($suppliesInfo['cost'],2,'.',',')?></td>
        <td><?php echo '$'.number_format($suppliesInfo['grossProfit'],2,'.',',')?></td>
        <td><?php echo($suppliesInfo['grossProfit']==0)? '0.00 %': number_format($suppliesInfo['cost']*100/$suppliesInfo['grossProfit'],2,'.',',').
                ' %'?></td>
    </tr>
    
</table>

<?php endif;?>

 <script>
     $(function() {
         $( ".datepicker" ).datepicker({changeYear: true});
     });
</script>