<div class="form-container">
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="field-contianer clearfix">
        <?php $FixedCostYear = $form->get('FixedCostYear'); ?>
        <div class="label-container left"><label><?php echo $FixedCostYear->getOption('label'); ?></label></div>
        <div><?php echo $this->formSelect($FixedCostYear); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $FixedCostMonth = $form->get('FixedCostMonth'); ?>
        <div class="label-container left"><label><?php echo $FixedCostMonth->getOption('label'); ?></label></div>
        <div><?php echo $this->formSelect($FixedCostMonth); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $Employees = $form->get('Employees'); ?>
        <div class="label-container left"><label><?php echo $Employees->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($Employees); ?></div>
        <div><?php echo $this->formElementErrors($Employees); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $Rent = $form->get('Rent'); ?>
        <div class="label-container left"><label><?php echo $Rent->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($Rent); ?></div>
        <div><?php echo $this->formElementErrors($Rent); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $Advertising = $form->get('Advertising'); ?>
        <div class="label-container left"><label><?php echo $Advertising->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($Advertising); ?></div>
        <div><?php echo $this->formElementErrors($Advertising); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $OfficeSupplies = $form->get('OfficeSupplies'); ?>
        <div class="label-container left"><label><?php echo $OfficeSupplies->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OfficeSupplies); ?></div>
        <div><?php echo $this->formElementErrors($OfficeSupplies); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $PhoneSystem = $form->get('PhoneSystem'); ?>
        <div class="label-container left"><label><?php echo $PhoneSystem->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($PhoneSystem); ?></div>
        <div><?php echo $this->formElementErrors($PhoneSystem); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $TransactionFees = $form->get('TransactionFees'); ?>
        <div class="label-container left"><label><?php echo $TransactionFees->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($TransactionFees); ?></div>
        <div><?php echo $this->formElementErrors($TransactionFees); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $Miscellaneous = $form->get('Miscellaneous'); ?>
        <div class="label-container left"><label><?php echo $Miscellaneous->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($Miscellaneous); ?></div>
        <div><?php echo $this->formElementErrors($Miscellaneous); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $Other = $form->get('Other'); ?>
        <div class="label-container left"><label><?php echo $Other->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($Other); ?></div>
    </div>
    
    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-report', array('action'=>'fixed-cost'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
