<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-report', array('action'=>'new-fixed-cost'))?>">Add New</a>
</div>

<table class="report-table" style="width: 120%">
    <tr>
        <th>Action</th>
        <th>ID#</th>
        <th>Year</th>
        <th>Month</th>
        <th>Employees</th>
        <th>Rent</th>
        <th>Advertising</th>
        <th>Office&nbsp;Supplies</th>
        <th>Phone&nbsp;System</th>
        <th>Transaction&nbsp;Fees</th>
        <th>Miscellaneous</th>
        <th>Other</th>
        <th>Total&nbsp;Fixed&nbsp;Coast</th>
        <th>Number&nbsp;Days&nbsp;in&nbsp;Month</th>
        <th>Fixed&nbsp;Cost&nbsp;Per&nbsp;Day</th>
        <th>Last Update</th>
        <th>IP&nbsp;Address</th>
    </tr>
    <?php foreach ($list as $i => $fixedcoast): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-report', array('action'=>'edit-fixed-cost', 'id'=>$fixedcoast['FixedCostID']))?>">Edit</a>
                <a href="<?php echo $this->url('admin-report', array('action'=>'delete-fixed-cost', 'id'=>$fixedcoast['FixedCostID']))?>">Delete</a>
            </td>
            <td><?php echo $fixedcoast['FixedCostID']; ?><br/></td>
            <td><?php echo $fixedcoast['FixedCostYear']?></td>
            <td><?php echo $fixedcoast['FixedCostMonth']; ?></td>
            <td><?php echo '$'.number_format($fixedcoast['Employees'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['Rent'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['Advertising'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['OfficeSupplies'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['PhoneSystem'],2,'.',',') ?></td>
            <td><?php echo '$'.number_format($fixedcoast['TransactionFees'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['Miscellaneous'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['Other'],2,'.',','); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['TotalFixedCost'],2,'.',','); ?></td>
            <td><?php echo intval($fixedcoast['DaysInMonth']); ?></td>
            <td><?php echo '$'.number_format($fixedcoast['FixedCostPerDay'],2,'.',','); ?></td>
            <td><?php echo $fixedcoast['LastUpdate']; ?></td>
            <td><?php echo $fixedcoast['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-report', 'action' => 'fixed-cost'));
?>