<div class="form-container">
    <h3>Order Report</h3>
    <form method="post">
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Start Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="startDate" value="<?php echo $date['startDate']?>"/></div>
            
            <div class="label-container left"><label class="second">End Date</label></div>
            <div class="left"><input type="text" class="text short datepicker" name="endDate" value="<?php echo $date['endDate']?>"/></div>
        </div>
        
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input class="button" type="submit" value="Show Orders" />
        </div>

    </form>
</div>

<table style="margin-top: 10px" class="report-table" cellspacing="1" cellpadding="2" border="0">
    <tr>
        <th>Select</th>
        <th>Oder ID</th>
        <th>&nbsp;</th>
        <th>Order Date</th>
        <th>Email</th>
        <th>Name</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Order Total</th>
        <th>Payment Method</th>
        <th>Reorder</th>
        <th>Sent</th>
        <th>Vendor</th>
        <th>Vendor Email</th>
        <th>Action</th>
        <th>Supplies Sent</th>
        <th>Sample Received</th>
        <th>Stock Sent</th>
        <th>Gross profit</th>
        <th>% Per Order</th>
    </tr>
    <?php 
    $totalPrice = 0;
    $totalTax = 0;
    $totalGrossNet = 0;
    if(count($carts) > 0):?>
    <?php foreach($carts as $cart):?>
        <tr id="<?php echo $cart['CartID']?>" class="<?php echo($cart['StockSent']=='Y' || $cart['SuppliesSent']=='Y' || ($cart['MessageToVendor']!='' && $cart['Vendor']!=''))? 'data-green':'data-gray'?>">
            <td><input class="table-row" type="checkbox" name="cartIds[]" value ="<?php echo $cart['CartID']?>" /></td>
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'user-report', 'id'=>$cart['CartID']));?>"><?php echo $cart['CartID']?></a></td>
            <td>
                <?php if($cart['notAccessoriesCount']==0 && ($cart['accessoriesCount']>0 || $cart['SuppliesSent']=='Y' || $cart['Vendor']=='Supplies')):?>
                <img src="<?php echo $this->basePath().'/images/accessories.jpg'?>" width="25" height="25" border="0" />
                <?php else:?>&nbsp;
                <?php endif;?>
            </td>
            <td><?php echo str_replace(" ","<br>",date("m/d/Y H:i:s",strtotime($cart['Added'])))?></td>
            <td><a href="#">Send</a></td>
            <td><?php echo $cart['BillingFirstName'] . ' ' . $cart['BillingLastName']; ?></td>
            <td><?php echo $cart['VendorPriority']; ?></td>
            <td>
                <?php
                if($cart['CartStatusID']==0){ echo '<span style="color:#AAAAAA">New</span>';$sent='No';}
                elseif($cart['CartStatusID']==1){echo '<span style="color:#FF0000">Paid</span>';$sent='No';}
                elseif($cart['CartStatusID']==2){echo '<span style="color:#00AA00">Shipped</span>';$sent='Yes';}
                elseif($cart['CartStatusID']==3){echo '<span style="color:#0000AA">Cancelled</span>';$sent='No';}
                else{ echo "Unknown";}
                ?>
            </td>
            <td><?php echo '$'.number_format($cart['PriceTotal'],2,'.',',')?></td>
            <td><?php echo $cart['PayMethod']?></td>
            <td><?php echo ($cart['Reorder'] == 'Y')? 'Yes':'No'?></td>
            <td><?php echo $sent?></td>
            <td>
                <select id ="vendor-<?php echo $cart['CartID']?>" class="vendor-list">
                    <?php foreach(array('0'=>'Select', 'Lynd'=>'Lynd', 'Cheng'=>'Cheng') as $key=>$value):?>
                    <option value="<?php echo $key?>" <?php echo($value==$cart['Vendor'])? 'selected':null?>><?php echo $value?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <?php if($cart['Vendor'] != '' && $cart['MessageToVendor'] != ''):?>
                <a class="message-to-vendor" href="#"><?php echo $cart['Vendor']?></a>
                <?php endif;?>
            </td>
            <td>
                <a class="delete-order" href="#delel">Delete</a>&nbsp;&nbsp;<a href="#send">Send</a>
            </td>
            <td><input class="cart-flag" type="checkbox" name="SuppliesSent-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['SuppliesSent']== 'Y')? 'checked':null?>/></td>
            <td>
                <?php if(strpos(strtolower($cart['OrderTXT2']),strtolower('Will Mail'))>0 ||strpos(strtolower($cart['OrderTXT2']),strtolower('Will call'))>0 ||
                       strpos(strtolower($cart['OrderTXT2']),strtolower('willmail'))>0 || strpos(strtolower($cart['OrderTXT2']),strtolower('willcall'))>0):?>
                <input class="cart-flag" type="checkbox" name="SampleReceived-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['SampleReceived']=='Y')?'checked':null?>/>
                <?php else:?>&nbsp<?php endif;?>
            </td>
            <td>
                <?php if($cart['StockSystem']=='Y' || $cart['StockSent']=='Y' || strpos(strtolower($cart['OrderTXT2']),'Stock System')>0):?>
                <input class="cart-flag" type="checkbox" name="StockSent-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['StockSent']=='Y')?'checked':null?>/>
                <?php else:?>&nbsp<?php endif;?>
            </td>
            <td><?php echo '$'.number_format($cart['prices']['grossProfit'],2,'.',',')?></td>
            <td><?php echo $cart['prices']['grossProfitPercent'].'%'?></td>
        </tr>
    <?php 
    $totalPrice = $totalPrice + $cart['PriceTotal'];
    $totalTax = $totalTax + $cart['Tax'];
    $totalGrossNet = $totalGrossNet + $cart['prices']['grossProfit'];
    endforeach;?>    
    <?php else:?>
    <tr>
        <td colspan="19"> No Data Available</td>
    </tr>
    <?php endif;?>
 </table>
 <?php
$totalCarts = count($carts);
$grossPerOrder = ($totalCarts)? $totalPrice/$totalCarts:0;
$grossProfitPerOrder = ($totalCarts)? $totalGrossNet/$totalCarts:0;
$percentCost = ($grossPerOrder)?(($grossPerOrder - $grossProfitPerOrder)/$grossPerOrder)*100:0;
?>
<table style="background-color:#CCCCCC; font-weight:Bold; width: 100%; font-size: 11px" class="report-table" cellpadding="5" cellspacing="1" border="0">
    <tr>
        <th>Gross Sales</th>
        <th>Tax Total</th>
        <th>Gross Cost</th>
        <th>Gross Margin</th>
        <th>Gross Per Order</th>
        <th>Gross Profit<br>Per Order</th>
        <th>Gross Net<br>Percentage</th>
        <th>Sales</th>
    </tr>
    <tr>
        <td><?php echo '$'.number_format($totalPrice,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalTax,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalPrice - $totalGrossNet,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalGrossNet,2,'.',',')?></td>
        <td><?php echo '$'.number_format($grossPerOrder,2,'.',',')?></td>
        <td><?php echo '$'.number_format($grossProfitPerOrder,2,'.',',')?></td>
        <td><?php echo '$'.number_format($percentCost,2,'.',',')?></td>
        <td><?php echo $totalCarts?></td>
    </tr>
</table>
<div id="email-box" title="Vendor Email"></div>
 <script>
     $(function() {
         $( ".datepicker" ).datepicker({changeYear: true});
         
        $("#email-box").dialog({
            autoOpen: false,
            height: 600,
            width: "auto",
            position:[400, 50],
            modal: true
        });
     });
</script>