<table class="report-table" style="width: 120%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
    </tr>
    <?php foreach ($carts as $cart): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td><?php echo $cart['BillingFirstName'].' '.$cart['BillingLastName']; ?><br/></td>
            <td><a href="mailto:<?php echo $cart['BillingEmail']?>"><?php echo $cart['BillingEmail']?></a></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($cart['Added'])); ?></td>
        </tr>
    <?php endforeach; ?>
</table>
