<div class="form-container">
    <h3>Order Report</h3>
    <?php $form = $this->form;
    $form->prepare(); ?>
    <form id="vendor-rport-form" method="post">
        <div class="field-contianer clearfix">
            <div class="label-container left"><input type="radio" name="searchDate" value="no" class="select-date-option" <?php echo($searchDate == 'no') ? 'checked' : null ?>/></div>
            <div class="label-container left"><label>Show All Dates</label></div>
        </div>
        <div class="field-contianer clearfix">
            <?php $startDate = $form->get('startDate'); ?>
            <div class="label-container left"><input type="radio" name="searchDate" value="yes" class="select-date-option"  <?php echo($searchDate == 'yes') ? 'checked' : null ?>/><label class="second">From</label></div>
            <div class="left"><?php echo $this->formText($startDate); ?></div>
                
            <?php $endDate = $form->get('endDate'); ?>
            <div class="label-container left"><label class="second">To</label></div>
            <div class="left"><?php echo $this->formText($endDate); ?></div>
        </div>
        <div class="field-contianer clearfix">
            <?php $vendor = $form->get('vendor'); ?>
            <div class="label-container left"><label>Vendor</label></div>
            <div><?php echo $this->formSelect($vendor); ?></div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input id="show-order" class="button form-submitter" type="button" value="Show Orders" />
        </div>
            
    </form>
</div>
<br/>
<a id="download-csv" class="form-submitter" href="#">Download CSV</a><br/>
<table style="background-color:#CCCCCC; font-weight:Bold; width: 100%; font-size: 11px" class="report-table" cellpadding="5" cellspacing="1" border="0">
    <tr>
        <th>Total Sales</th>
        <th>Total Orders</th>
        <th>Reorders</th>
        <th>Reorders %</th>
    </tr>
    <tr>
        <td><?php echo '$'.number_format($summery['totalPrice'],2,'.',',')?></td>
        <td><?php echo $summery['totalRecord']?></td>
        <td><?php echo $summery['reorderCount']?></td>
        <td><?php echo($summery['reorderCount'] > 0)? intval(($summery['reorderCount']/$summery['totalRecord'])*100).'%':'n/a'?></td>
    </tr>
</table>

<table style="margin-top: 10px" class="report-table" cellspacing="1" cellpadding="2" border="0">
    <tr>
        <th>Oder ID</th>
        <th>Prior Invoice</th>
        <th>Order Date</th>
        <th>Email</th>
        <th>Name</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Order Total</th>
        <th>Sent</th>
        <th>Vendor</th>
        <th>Products</th>
    </tr>
    <?php 
    if(count($data) > 0):?>
    <?php foreach($data as $cart):?>
        <tr id="<?php echo $cart['CartID']?>" class="<?php echo($cart['StockSent']=='Y' || $cart['SuppliesSent']=='Y' || ($cart['MessageToVendor']!='' && $cart['Vendor']!=''))? 'data-green':'data-gray'?>">
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'user-report', 'id'=>$cart['CartID']));?>"><?php echo $cart['CartID']?></a></td>
            <td><?php echo $cart['prevInvoice']?></td>
            <td><?php echo str_replace(" ","<br>",date("m/d/Y H:i:s",strtotime($cart['Added'])))?></td>
            <td><a href="#">Send</a></td>
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'edit', 'id'=>$cart['CartID']));?>"><?php echo $cart['BillingFirstName'] . ' ' . $cart['BillingLastName']; ?></a></td>
            <td><?php echo $cart['VendorPriority']; ?></td>
            <td>
                <?php
                if($cart['CartStatusID']==0){ echo '<span style="color:#AAAAAA">Not Completed</span>';$sent='No';}
                elseif($cart['CartStatusID']==1){echo '<span style="color:#FF0000">Paid, Not Shipped</span>';$sent='No';}
                elseif($cart['CartStatusID']==2){echo '<span style="color:#00AA00">Paid and Shipped</span>';$sent='Yes';}
                elseif($cart['CartStatusID']==3){echo '<span style="color:#0000AA">Cancelled</span>';$sent='No';}
                else{ echo "Unknown";}
                ?>
            </td>
            <td><?php echo '$'.number_format($cart['PriceTotal'],2,'.',',')?></td>
            <td><?php echo $sent?></td>
            <td><?php echo $cart['Vendor']?></td>
            <td>
                <?php foreach($cart['products'] as $product):
                    echo $product['CartProductName']."<br/>";
                endforeach;?>
            </td>
        </tr>
    <?php endforeach;?>    
    <?php else:?>
    <tr>
        <td colspan="19"> No Data Available</td>
    </tr>
    <?php endif;?>
</table>

<div id="email-box" title="Vendor Email"></div>
 <script>
     $(function() {
        $( ".datepicker" ).datepicker();
         
        $("#email-box").dialog({
            autoOpen: false,
            height: 600,
            width: "auto",
            position:[400, 50],
            modal: true
        });
        
        $('.form-submitter').click(function(){
            if($(this).attr('id') == 'download-csv'){
                $('#vendor-rport-form').attr('action', '/admin/report/csv-vendor');
            }else{
                $('#vendor-rport-form').attr('action', '');
            }
            
        $('#vendor-rport-form').submit();
        });
     });
</script>