<div class="page-title">Checkout</div>
<?php echo $this->partial('application/partial/topoption.phtml', array()); ?>
<div class="clearfix"></div>
<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
?>
<fieldset class="billing-container">
    <legend class="yellow">Billing Information</legend>
    <label>
        <?php $billingFirstName = $form->get('billingFirstName'); ?>
        <span><?php echo $billingFirstName->getOption('label'); ?></span>
        <?php echo $this->formText($billingFirstName); ?>
    </label>
    
    <label>
        <?php $billingLastName = $form->get('billingLastName'); ?>
        <span><?php echo $billingLastName->getOption('label'); ?></span>
        <?php echo $this->formText($billingLastName); ?>
    </label>
    
    <label>
        <?php $billingCountry = $form->get('billingCountry'); ?>
        <span><?php echo $billingCountry->getOption('label'); ?></span>
        <?php echo $this->formSelect($billingCountry); ?>
    </label>
    
    <label class="state-container">
        <?php $billingState = $form->get('billingState'); ?>
        <span><?php echo $billingState->getOption('label'); ?></span>
        <?php 
        $billingStateName = $form->get('billingStateName');
        echo $this->formSelect($billingState); 
        echo $this->formText($billingStateName);
        ?>
    </label>
    
    <label>
        <?php $billingAddress = $form->get('billingAddress'); ?>
        <span><?php echo $billingAddress->getOption('label'); ?></span>
        <?php echo $this->formText($billingAddress); ?>
    </label>
    
    <label>
        <?php $billingCity = $form->get('billingCity'); ?>
        <span><?php echo $billingCity->getOption('label'); ?></span>
        <?php echo $this->formText($billingCity); ?>
    </label>
    
    <label>
        <?php $billingZip = $form->get('billingZip'); ?>
        <span><?php echo $billingZip->getOption('label'); ?></span>
        <?php echo $this->formText($billingZip); ?>
    </label>
    
    <label>
        <?php $billingPhone = $form->get('billingPhone'); ?>
        <span><?php echo $billingPhone->getOption('label'); ?></span>
        <?php echo $this->formText($billingPhone); ?>
    </label>
    
    <label>
        <?php $billingEmail = $form->get('billingEmail'); ?>
        <span><?php echo $billingEmail->getOption('label'); ?></span>
        <?php echo $this->formText($billingEmail); ?>
    </label>
</fieldset>

<fieldset class="shipping-container">
    <legend class="yellow">Shipping Information &nbsp; <input class="copy-billing" type="checkbox" name="copybilling" />Keep same as billing</legend>
    <label>
        <?php $shippingFirstName = $form->get('shippingFirstName'); ?>
        <span><?php echo $shippingFirstName->getOption('label'); ?></span>
        <?php echo $this->formText($shippingFirstName); ?>
    </label>
    
    <label>
        <?php $shippingLastName = $form->get('shippingLastName'); ?>
        <span><?php echo $shippingLastName->getOption('label'); ?></span>
        <?php echo $this->formText($shippingLastName); ?>
    </label>
    
    <label>
        <?php $shippingCountry = $form->get('shippingCountry'); ?>
        <span><?php echo $shippingCountry->getOption('label'); ?></span>
        <?php echo $this->formSelect($shippingCountry); ?>
    </label>
    
    <label class="state-container">
        <?php $shippingState = $form->get('shippingState'); ?>
        <span><?php echo $shippingState->getOption('label'); ?></span>
        <?php 
        $shippingStateName = $form->get('shippingStateName');
        echo $this->formSelect($shippingState); 
        echo $this->formText($shippingStateName); 
        ?>
    </label>
    
    <label>
        <?php $shippingAddress = $form->get('shippingAddress'); ?>
        <span><?php echo $shippingAddress->getOption('label'); ?></span>
        <?php echo $this->formText($shippingAddress); ?>
    </label>
    
    <label>
        <?php $shippingCity = $form->get('shippingCity'); ?>
        <span><?php echo $shippingCity->getOption('label'); ?></span>
        <?php echo $this->formText($shippingCity); ?>
    </label>
    
    <label>
        <?php $shippingZip = $form->get('shippingZip'); ?>
        <span><?php echo $shippingZip->getOption('label'); ?></span>
        <?php echo $this->formText($shippingZip); ?>
    </label>
    
    <label>
        <?php $shippingPhone = $form->get('shippingPhone'); ?>
        <span><?php echo $shippingPhone->getOption('label'); ?></span>
        <?php echo $this->formText($shippingPhone); ?>
    </label>
    
    <label>
        <?php $shippingEmail = $form->get('shippingEmail'); ?>
        <span><?php echo $shippingEmail->getOption('label'); ?></span>
        <?php echo $this->formText($shippingEmail); ?>
    </label>
</fieldset>

<fieldset>
    <legend class="yellow">Other Information</legend>
    <label>
        <?php $referral = $form->get('referral'); ?>
        <span><?php echo $referral->getOption('label'); ?></span>
        <?php echo $this->formSelect($referral); ?>
    </label>
    
</fieldset>

<div class="large vertical-space-medium center">
    <?php $shippingEmail = $form->get('submit'); ?>
    <?php echo $this->formSubmit($shippingEmail); ?>
</div>
<?php echo $this->form()->closeTag(); ?>
