<div class="page-title">Checkout</div>
<div class="clearfix"></div>
<?php if($responseMessage):?>
<div class="vertical-space-medium">
    <h2><?php echo $responseMessage?></h2>
</div>
<?php endif;?>
<div class="large vertical-space-medium">   
    <fieldset>
        <legend class="yellow">Billing Information</legend>
        <P><span class="special-sub-title">First Name : </span><?php echo $cart['BillingFirstName']; ?></p>
        <P><span class="special-sub-title">Last Name : </span><?php echo $cart['BillingLastName']; ?></p>
        <P><span class="special-sub-title">Country : </span><?php echo $cart['billingCountry']; ?></p>
        <P><span class="special-sub-title">State : </span><?php echo $cart['billingState']; ?></p>
        <P><span class="special-sub-title">Address : </span><?php echo $cart['BillingAddress']; ?></p>
        <P><span class="special-sub-title">City : </span><?php echo $cart['BillingCity']; ?></p>
        <P><span class="special-sub-title">Zip Code : </span><?php echo $cart['BillingZipCode']; ?></p>
        <P><span class="special-sub-title">Phone : </span><?php echo $cart['BillingPhone']; ?></p>
        <P><span class="special-sub-title">Email : </span><?php echo $cart['BillingEmail']; ?></p>
    </fieldset>
    <fieldset>
        <legend class="yellow">Shipping Information</legend>
        <P><span class="special-sub-title">First Name : </span><?php echo $cart['ShippingFirstName']; ?></p>
        <P><span class="special-sub-title">Last Name : </span><?php echo $cart['ShippingLastName']; ?></p>
        <P><span class="special-sub-title">Country : </span><?php echo $cart['shippingCountry']; ?></p>
        <P><span class="special-sub-title">State : </span><?php echo $cart['shippingState']; ?></p>
        <P><span class="special-sub-title">Address : </span><?php echo $cart['ShippingAddress']; ?></p>
        <P><span class="special-sub-title">City : </span><?php echo $cart['ShippingCity']; ?></p>
        <P><span class="special-sub-title">Zip Code : </span><?php echo $cart['ShippingZipCode']; ?></p>
        <P><span class="special-sub-title">Phone : </span><?php echo $cart['ShippingPhone']; ?></p>
        <P><span class="special-sub-title">Email : </span><?php echo $cart['ShippingEmail']; ?></p>
    </fieldset>
</div>
<div class="large vertical-space-medium center">
    <input class="button" type="button" id="btnProceedCheckout" name="btnProceedCheckout" value="Edit Billing and Shipping Information" onClick="document.location='<?php echo $this->url('cart', array('action'=>'edit-billing'))?>'"/>
</div>

<?php echo $this->partial('application/cart/order_products.phtml', array('productCarts'=>$productCarts, 'cart'=>$cart)); ?>

<div class="large vertical-space-medium center">
    <input class="button" type="button" id="btnProceedCheckout" name="btnProceedCheckout" value="Edit Order" onClick="document.location='<?php echo $this->url('order', array('action'=>'show'))?>'"/>
</div>

<?php $form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);?>    
<fieldset>
    <legend class="yellow">Credit Card Information</legend>
    <?php echo $this->formRow($form->get('type')); ?>
    <?php echo $this->formRow($form->get('number')); ?>
    <label style="display: inline;">
        <?php $month = $form->get('month');?>
        <span><?php echo $month->getOption('label'); ?></span>
        <?php echo $this->formSelect($month) ?>
    </label>
    <label style="display: inline;">
        <?php $year = $form->get('year');?>
        <?php echo $this->formSelect($year) ?>
    </label>
    <?php echo $this->formRow($form->get('code')); ?>
    
</fieldset>

<div class="large vertical-space-medium center">
    <?php $submit = $form->get('submit'); ?>
    <?php echo $this->formSubmit($submit); ?>
</div>
<?php echo $this->form()->closeTag(); ?>
