<div class="left large vertical-space" style="display: table">
    <?php if (count($productCarts)): ?>
        <table width="100%" cellspacing="1" border="0">
            <tr>
                <th>&nbsp;</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Shipping</th>
            </tr>
            <?php foreach ($productCarts as $productCart): ?>
                <tr>
                    <td><img width="80px" class="white-border"  src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $productCart['ProductID'], -8) . '.jpg'; ?>" /></td>
                    <td>
                        <div class="small">
                            <?php if ($productCart['CategoryID'] != 7 && $productCart['CategoryID'] != 8):?>
                                <a class="content" style="font-size: 11px;" href="<?php echo $this->url('product', array('id'=>$productCart['ProductID']))?>"><?php echo $productCart['CartProductName'] ?></a>
                                <?php if ($productCart['ProductPrice1'] > 0): ?>
                                    <P><span class="special-sub-title">Price : </span><?php echo number_format($productCart['ProductPrice1'], 2, '.', ','); ?></p>
                                <?php endif;
                                if ($productCart['ProductShippingPrice1'] > 0 && $productCart['ProductShippingPrice1'] == $productCart['ProductShippingPrice2']): ?>
                                    <P><span class="special-sub-title">Shipping: : </span><?php echo number_format($productCart['ProductShippingPrice1'], 2, '.', ','); ?></p>
                                <?php endif;
                                if ($productCart['ProductShippingPrice1'] > 0 && $productCart['ProductShippingPrice1'] != $productCart['ProductShippingPrice2']): ?>
                                    <P><span class="special-sub-title">Price : </span><?php echo number_format($productCart['ProductShippingPrice1'], 2, '.', ',') . ' and each next ' . number_format($productCart['ProductShippingPrice2'], 2, '.', ','); ?></p>
                                <?php endif; ?>
                            <?php else: ?>
                            <a class="content" style="font-size: 11px;" href="<?php echo $this->url('order', array('id' => $productCart['ProductID'])); ?>"><?php echo $productCart['CartProductName'] ?></a>
                            <?php endif; ?>

                            <?php foreach ($productCart['options'] as $option): ?>
                                <P><span class="special-sub-title"><?php echo $option['OptionGroupName'] ?> : </span><?php echo $option['OptionName'] ?></p>
                            <?php endforeach; ?>
                            <p class="clearfix"></p>
                            <?php if ($productCart['CategoryID'] == (7 || 8)): ?>
                                <?php if ($productCart['ProfessionalStyle'] == 'Y') : ?>
                                    <P><span class="special-sub-title">A professional hair cut and style : </span><?php echo $productCart['ExtraPrice1'] ?></p>
                                    <P><span class="special-sub-title">Front Length : </span><?php echo($productCart['FrontLengthText'] == '') ? $productCart['FrontLength'] : $productCart['FrontLengthText'] . ' inches' ?></p>
                                    <P><span class="special-sub-title">Side Length : </span><?php echo($productCart['SideLengthText'] == '') ? $productCart['SideLength'] : $productCart['SideLengthText'] . ' inches' ?></p>
                                    <P><span class="special-sub-title">Back Length : </span><?php echo($productCart['BackLengthText'] == '') ? $productCart['BackLength'] : $productCart['BackLengthText'] . ' inches' ?></p>
                                    <P><span class="special-sub-title">Top Length : </span><?php echo($productCart['TopLengthText'] == '') ? $productCart['TopLength'] : $productCart['TopLengthText'] . ' inches' ?></p>
                                <?php endif; ?>
                                <p class="clearfix"></p>
                                <?php if ($productCart['FullCap'] == 'Y') : ?>
                                    <P><span class="special-sub-title">Full Cap : </span><?php echo $productCart['ExtraPrice2'] ?></p>
                                    <P><span class="special-sub-title">Measurement 1 : </span><?php echo $productCart['Measurement1'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 2 : </span><?php echo $productCart['Measurement2'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 3 : </span><?php echo $productCart['Measurement3'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 4 : </span><?php echo $productCart['Measurement4'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 5 : </span><?php echo $productCart['Measurement5'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 6 : </span><?php echo $productCart['Measurement6'] . ' inches- Head Circumference' ?></p>
                                    <P><span class="special-sub-title">Measurement 7 : </span><?php echo $productCart['Measurement7'] . ' inches- Head Circumference' ?></p>
                                <?php endif; ?>
                            <?php endif; ?>
                            <p class="clearfix"></p>
                            <?php if ($productCart['AdditionalInstructions'] <> '') : ?>
                                <P><span class="special-sub-title">Instructions : </span><?php echo $productCart['AdditionalInstructions'] ?></p>
                            <?php endif; ?>
                        </div>
                    </td>
                    <td><?php echo $productCart['ProductQty'] ?></td>
                    <td><?php echo '$' . number_format($productCart['SubTotalPrice'], 2, '.', ',') ?></td>
                    <td><?php echo '$' . number_format($productCart['SubTotalShipping'], 2, '.', ',') ?></td>
                </tr>
            <?php endforeach; ?>
            <?php if ($cart['PriceSubTotal'] > 0): ?>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2"><b>Sub Total:</b></td>
                    <td><?php echo '$' . number_format($cart['PriceSubTotal'], 2, '.', ',') ?></td>
                </tr>
            <?php endif; ?>
            <?php if (($cart['PriceSubTotal'] - $cart['PriceSubTotalWithDiscount']) > 0): ?>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"><b>Discount Code:</b></td>
                    <td style="color:#FF0000"><?php echo  $cart['DiscountCode'] ?></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"><b>Discount:</b></td>
                    <td style="color:#FF0000"><?php echo '-$' . number_format($cart['PriceSubTotal'] - $cart['PriceSubTotalWithDiscount'], 2, '.', ',') ?></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"><b>Discounted Price:</b></td>
                    <td style="color:#FF0000"><?php echo '$' . number_format($cart['PriceSubTotalWithDiscount'], 2, '.', ',') ?></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"><b>Shipping Price:</b></td>
                <td><?php echo '$' . number_format($cart['PriceShipping'], 2, '.', ',') ?></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"><b>Tax:</b></td>
                <td><?php echo '$' . number_format($cart['Tax'], 2, '.', ',') ?></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="2"><b>Total Amount:</b></td>
                <td><?php echo '$' . number_format($cart['PriceTotal'], 2, '.', ',') ?></td>
            </tr>
        </table>
    <?php endif; ?>
</div>
