
<form target="_top" id="frmPayPal" name="frmPayPal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1"/>
    <input type="hidden" name="test_ipn" value="0" />
    <input type="hidden" name="business" value="<?php echo PayPalAccount?>">
    
    <?php 
    $totalQuantity = 0;
    foreach($productCarts as $key=>$productCart):
    $quantity = $productCart['ProductQty'] * $productCart['ProductQty2'];
    $totalQuantity = $totalQuantity + $quantity;
    ?>
    <input type="hidden" class="output" name="amount_<?php echo $key + 1?>" value="<?php echo $productCart['SubTotalPrice']/$quantity?>" />
    <input type="hidden" class="output" name="quantity_<?php echo $key + 1?>" value="<?php echo $quantity?>"/>
    <input type="hidden" class="output" name="shipping_<?php echo $key + 1?>" value="<?php echo $productCart['SubTotalShipping']?>" />
    <input type="hidden" class="output" name="item_name_<?php echo $key + 1?>" value="<?php echo $productCart['option']?>" />
    <?php endforeach;?>
    <?php if(($cart['PriceSubTotal'] - $cart['PriceSubTotalWithDiscount'])):?>
    <input type="hidden" class="output" id="discount_amount_cart" name="discount_amount_cart" value="<?php echo ($cart['PriceSubTotal'] - $cart['PriceSubTotalWithDiscount'])?>" />
    <?php endif;?>
    <input type="hidden" class="output" id="amount" name="amount" value="<?php echo $cart['PriceSubTotal']?>" />
    <input type="hidden" class="output" id="shipping" name="shipping" value="<?php echo $cart['PriceShipping']?>" />
    <input type="hidden" class="output" id="quantity" name="quantity" value="<?php echo $totalQuantity?>" />
    <input type="hidden" class="output" id="no_shipping" name="no_shipping" value="0" />
    <input type="hidden" class="output" id="invoice" name="invoice" value="<?php echo $cart['CartID']?>" />
    <input type="hidden" class="output" name="shipping_priority" value="0" />
    <input type="hidden" name="no_note" value="1"/>
    <input type="hidden" name="currency_code" value="USD"/>
    <input type="hidden" name="lc" value="US"/>
    <input type="hidden" name="custom" value="0"/>
    <input type="hidden" name="return" value="<?php echo $this->serverUrl().$this->url('cart', array('action'=>'completepayment','cartId'=>$cart['CartID']))?>"/>
    <input type="hidden" name="notify_url" value="<?php echo $this->serverUrl().$this->url('cart', array('action'=>'completepayment','cartId'=>$cart['CartID']))?>"/>
    <input type="hidden" name="cancel_return" value="<?php echo $this->serverUrl().$this->url('order', array('action'=>'show','cartId'=>$cart['CartID']))?>"/>
    
    <input type="hidden" name="address1" value="<?php echo $cart['ShippingAddress']?>"/>
    <input type="hidden" name="city" value="<?php echo $cart['ShippingCity']?>"/>
    <input type="hidden" name="country" value="US"/>
    <input type="hidden" name="email" value="<?php echo $cart['ShippingEmail']?>"/>
    <input type="hidden" name="first_name" value="<?php echo $cart['ShippingFirstName']?>"/>
    <input type="hidden" name="last_name" value="<?php echo $cart['ShippingLastName']?>"/>
    <input type="hidden" name="state" value="AL"/>
    <input type="hidden" name="zip" value="<?php echo $cart['ShippingZipCode']?>"/>
    <input type="hidden" name="address_override" value="1"/>
</form>
<script type="text/javascript">
    $('form#frmPayPal').submit();
</script>
