<span>State</span>
<?php if($states):?>
<select class="field-medium state" name="<?php echo $fieldName?>">
    <?php foreach($states as $state):?>
    <option value="<?php echo $state['StateID']?>"><?php echo $state['StateName']?></option>
    <?php endforeach;?>
</select>
<input type="text" class="field-medium state hidden" name="<?php echo $fieldTextName?>" />
<?php else:?>
<select class="field-medium state hidden" name="<?php echo $fieldName?>">
    <option value="0"></option>
</select>
<input type="text" class="field-medium state" name="<?php echo $fieldTextName?>" />
<?php endif; ?>
