<div class="page-title">About Us</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium question">
    <span>Who are we?</span>
    <p>We are a group of hair system wearers who were not completely satisfied with the long time it took to get our hair, lack of customer service, 
        and inconsistent quality we received. Thus, we decided to invest into a manufacturer of our own, so we could control the quality, customer care, 
        production time, and cost. We also sought the most innovative people in the industry to help us develop our premium hairpiece 
        our <a class="content" href="/static/superfine">Super Ultra Fine Swiss</a> Invisible Knots Hair System.</p>
</div>

<div class="vertical-space-medium question">
    <span>Mission:</span>
    <p>When our clients need an emergency hairpiece or expedited rush delivery we will be there for them. 
        Our emergency stock hairpieces will be offered first to our clients. 
        We will always offer our customers the most aggressive pricing for our hairpieces, no gouging here. 
        When our customer need professional advice regarding their hair system, 
        we are there for them. We will provide the highest quality control with consistency. 
        We will always deliver hairpiece products in a discrete and private manner. 
        We will always seek to have a premium product for those who seek the best in appearance. 
        We will always issue a delivery date so you can plan accordingly. 
        We believe education is very important, that is why we will always seek to inform and educate our clients. 
        We will always offer the highest quality, customer service, and delivery. <strong>We Care!</strong> </p>
</div>

<div class="vertical-space-medium question">
    <span>Conclusion:</span>
    <p>If you currently get your hair system somewhere else we would love the opportunity to work with you. 
        Give us a try. We are certain you will be thanking yourself for doing so. The bottom line is if you want a top quality hairpiece, 
        wholesale pricing, expedited delivery, and good caring service you should become a customer here. 
        We are a hair wearing community you can depend on. <br/>
        If you are a new to this or a member of Hair Club For Men, Farrell, Apollo etc... please join us. 
        We will teach you the ropes to save you tons of money, time, and headaches... Plus, of course get you a better looking hairpiece.</p>
</div>

<div class="large left">
    <p>
        We look forward to earning all of your business, current wearers and new one's alike. 
        If you ever have any questions you can reach us toll free at 954-505-7000 or at
        <a class="content" href="mailto:&#104;&#101;&#108;&#112;&#64;&#104;&#111;&#108;&#108;&#121;&#119;&#111;&#111;&#100;&#108;&#97;&#99;&#101;&#46;&#99;&#111;&#109;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;">
            this e-mail address</a> or phone toll free 888-446-5602.
    </p>
</div>
