<div class="page-title">Recommended Products & Accessories</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p>For International Orders supplies will only be deliverd as an accompaniment with a hairpiece order only. 
        WE DO NOT SHIP LIQUIDS OVERSEAS SUCH AS GLUES!</p>
</div>

<div class="vertical-space-medium large left" style="text-align: center">
    <div class="small left">
        <a href="<?php echo $this->url('product-category', array('id'=>1));?>" title="Click Here For a Closer Look!">
            <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/supertape1.jpg" />
        </a>
        <span class="image-title">EXTENDED TAPE</span>
    </div>
    <div class="small left">
        <a href="<?php echo $this->url('product-category', array('id'=>2));?>" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/tape1.jpg" />
        </a>
        <span class="image-title">DAILY TAPE</span>
    </div> 
    <div class="small left">
        <a href="<?php echo $this->url('product-category', array('id'=>3));?>" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/ultrahold.jpg" />
        </a>
        <span class="image-title">GLUES</span>
    </div>
</div>
<div class="vertical-space-medium large left" style="text-align: center">
    <div class="small left">
        <a  href="<?php echo $this->url('product-category', array('id'=>4));?>" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/scalp_protector.jpg" />
        </a>
        <span class="image-title">SCALP PREP</span>
    </div>
    <div class="small left">
        <a href="<?php echo $this->url('product-category', array('id'=>5));?>" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/glue4.jpg" />
        </a>
        <span class="image-title">REMOVAL</span>
    </div>
    <div class="small left">
        <a href="<?php echo $this->url('product-category', array('id'=>6));?>" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/hair_fiber_small.jpg" />
        </a>
        <span class="image-title">HAIR SYSTEM REPAIR</span>
    </div>
</div>
