<div class="page-title">African American</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p>Hollywoodlace proudly services the needs of many of our African American clients. 
        All hair systems with the exception of "super silk" can be used for Afro Hair. 
        For Afro hair we use Remy Human Hair and by default use a mix of color 1 and color 1B to gain the most common color. However, 
        please feel free to mail us your hair sample to get a perfect match if you feel it is needed. One of our most popular Hair Systems 
        for African American clients are the French Lace with a poly perimeter and French Lace with full poly perimeter. 
        Again, these are just very popular so we wanted to mention to you. However, again all hair systems can be used 
        and we can accomodate any special requests. We also carry <a class="content" href="/static/stockhair">Stock Hair Systems</a> with Afro Curl if you need right away.
    </p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $159.00</span>
    <span class="special-sub-title">Regular Price $299.00</span>
    <a href="<?php echo $this->url('order', array('id'=>'31'));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>
<p>(Choose Hair Color, Density etc... after adding to cart)<br/></p>

<div class="vertical-space-medium large" style="text-align: center">
    <img class="white-border" width="210" height="135" src="<?php echo $this->basePath(); ?>/images/jamest1.jpg" />
    <img class="white-border left-space" width="210" height="135" src="<?php echo $this->basePath(); ?>/images/jamest3.jpg" />
</div>

<div class="large left">
    <p>
        If you ever have any questions or need help please don't hesitate to contact us directly at 
        <a class="content" href="mailto:&#104;&#101;&#108;&#112;&#64;&#104;&#111;&#108;&#108;&#121;&#119;&#111;&#111;&#100;&#108;&#97;&#99;&#101;&#46;&#99;&#111;&#109;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;">
            this e-mail address</a> or phone toll free 888-446-5602.
    </p>
</div>
