<div class="page-title">Hair System Basics</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium question">
    <span>Why Buy Your Hair System From HollywoodLace Versus Others?</span>
    <p>All our Lace and Skin Hair Systems consist of the finest materials, single strand ventilation, bleached knots, 
        and a transitional density for realistic appearance. Finally, we apply a weightless sealant on Lace hair systems to provide more durability, 
        less hair pull through, and longer adhesion. 
    </p>
</div>
<div class="vertical-space-medium large left" style="text-align: center">
    <div class="small left">
        <a target="_blank"  href="<?php echo $this->basePath(); ?>/images/knotsno3.jpg" title="Click Here For a Closer Look!">
            <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/knotsno3.jpg" />
        </a>
        <span class="image-title">Hollywood Lace</span>
    </div>
    <div class="small left">
        <a target="_blank" href="<?php echo $this->basePath(); ?>/images/knots12.jpg" title="Click Here For a Closer Look!">
            <img class="white-border left-space" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/knots12.jpg" />
        </a>
        <span class="image-title">Competitors</span>
    </div> 
</div>
<div class="vertical-space-medium question">
    <span>How long will my new hair system last?</span>
    <p>Hair Systems are not intended to last forever. Without the body's natural oils to protect it, human hair will eventually become drier 
        and more brittle. On average, you will need a new hair system every three months or so. 
        Some people replace their hair system every six months and some every month. It is truly a personal decision. 
        The newer the hair system, the more vibrant the hair will be. Now with the more affordable options provided by HollywoodLace 
        it is best to replace as often as your budget allows.
    </p>
</div>
<div class="vertical-space-medium question">
    <span>When will I receive my new hair system?</span>
    <p>We have 3 options available. Standard option is about 4 weeks up to 6 weeks. Rush option you should receive in just 3-4 weeks... 
        and those who really need a unit badly we offer a "super rush" which allows you to receive your custom unit in just 2-3 weeks... 
        Some places make you wait 8-12 weeks. We take great pride in our expedited service. If you have a "hair emergency", 
        you can order a <a class="content" href="/static/stockhair">Stock Hair Systems</a> and receive it the next day (U.S. only).
    </p>
</div>
<div class="vertical-space-medium question">
    <span>Should I get rid of my expensive hair club plan? Can I really do this myself?</span>
    <p><font size="+1">YES &amp; YES.</font> If you want to save money, get better quality hair systems and not be at the liberty of others, 
        get rid of your $500.00 a month membership and just learn to do it yourself. It is easy. There is nothing magical about doing it yourself. 
        You can either have us cut it for you, learn to cut it yourself, or go to a local salon for $50.00. 
    </p>
</div>
<div class="vertical-space-medium question">
    <span>Can you copy my existing unit exactly?</span>
    <p>Absolutely! Send it to us and we'll be glad to have it duplicated exactly. You can even specify changes in base material, hair color, hair density, etc.
    </p>
</div>

<div class="vertical-space-medium question">
    <span>Will the lace match my skin color?</span>
    <p>Our laces and skins are transparent, allowing your natural skin tone to show through. Even if you tan during the summer, 
        the base will remain invisible. Some of our systems do offer different color bases and we would be happy to accomodate. 
        However, we do have different color bases for those who may feel they need. Please inquire with us.
    </p>
</div>