<div class="page-title">Contact Us</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <h2><u>Mailing Address:</u></h2>
    <p>
        HollywoodLace<br />
        1250 East Hallandale Beach Blvd. Suite 903<br />
        Hallandale, FL 33009 <br /><br />
        <strong><font size="2">Telephone:</font></strong> Domestic: 954-505-7000<br /><b>International: 954-505-7000</B><br><br></font>

        <b>Orders Processed 24 hours a day, 7 days a week.</B><br> 
        <b>Office Hours:</B> 9AM-7PM EST Monday Through Friday.<br><br>

        <U><b>EMAIL US:</U></b><br/><br> 
        Please use the appropriate email below that corresponds to your needs. 
        We appreciate this, as it allows us to respond more promptly to all of our customers and future customers alike.<BR> 
        <br> Future Client With Questions: <font COLOR="yellow">SALES@HOLLYWOODLACE.COM</font>
        <br> Customer Service Questions (excluding order status): <font COLOR="yellow">SUPPORT@HOLLYWOODLACE.COM</font>
    </p>
</div>
