<div class="page-title">Delivery Type/Priority</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p>We got started in this industry in part because many places made customers wait 8-14 weeks without any options. 
        We felt this was way too long. Below is our delivery schedule and the options you have. 
        Keep in mind these time periods are rough estimates as custom orders are made by hand. 
        If you ever have a specific event such as a wedding, birthday, holiday etc... and need a certain date please contact us 
        and we will do our best to accommodate. If it is possible, we will get done for you.Below is the delivery schedule with your options.</p>
    
    <p><strong>Standard Delivery: Approximately 6 - 7 weeks (No Charge) </strong></p>
    
    <p><strong>Rush Delivery: Approximately 4 - 5 weeks ($49)</strong></p>
    
    <p><strong>Super Rush Delivery: Approximately 3 - 4 weeks ($69)</strong></p>
    
    <p><strong>**Delivery time starts when our factory receives all the specs such as size, color not neccessarily when order is placed.
        This would include people who send in templates and/or hair color samples. Keep in mind we make all customs systems by hand. 
        These times indicated represent the time it takes for hairpieces to be made. You want to add 3 extra days approximately for delivery. 
        "Full Caps" and or wigs please add 2 weeks on to these time schedules as they take slightly longer to make. 
        These time tables are usually pretty accurate, but on some occassions a hairpiece may be received a little early and sometimes a little late. 
    <u>IF YOU SELECT A HAIRCUT OR STYLE PLEASE ADD 3-7 DAYS EXTRA ON TO YOUR ESTIMATED SCHEDULE!!!</u><u> ALL DATES ARE ROUGH ESTIMATES</u></strong>
    Unless there is a very significant departure from schedule then no concession on the rush fee will be made.</p>
    
    <p><strong>***PLEASE NOTE SUPER SILK SYSTEMS AND SKIN SYSTEMS MAY TAKE 14 DAYS LONGER ON AVERAGE DUE TO LONGER PRODUCTION TIME. THANKS.</strong></p>
    
    <p><strong><u>***NOTE THAT OUR FACTORIES WILL BE CLOSED FEBRUARY 1ST THROUGH FEBRUARY 9TH IN CELEBRATION OF THE OVERSEAS HARVEST HOLIDAY. 
            THIS MAY CAUSE APPROXIMATELY A TEN DAY DELAY ON ALL ORDERS.</u></strong></p>
</div>
