<div class="page-title">Duplicate Your Hair System</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p> Many of our current customers were either former clients with hair clubs or other internet hair system providers. 
        They came to us because they were not receiving their hairpieces promptly, poor customer service, the quality was poor or inconsistent, 
        and the prices were too high. We have filled all those voids. We make sure we expedite all delivery of our hair systems 
        to keep under 30 days delivered to your door, answer telephone calls, have a quality control aparatus that is par to none, 
        and consistently run promotions to make our pricing overly aggressive.</p>
    <p>We can duplicate any hair system at the same or better quality then your current one. 
        We can also extend this usually at more aggressive pricing then you are acustomed to. 
        We can also make recommended changes to improve your hair system per your approval.</p>
    <p>There are four ways to submit your current hair system for duplication. The best way to duplicate a system is to send us your current hair system and
        we will return it to you either right away if you need, or return with new order. Second way is to fill out online order form. 
        It is pretty detailed and may work. The third way is to give us a call and go over specs. The final way is to e-mail us the specs.</p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $159.00</span>
    <span class="special-sub-title">Regular Price $299.00</span>
    <a href="<?php echo $this->url('order', array('id'=>'31'));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>

<div class="large left">    
    <p>If you ever have any questions or need help please don't hesitate to contact us directly at 
        <a class="content" href="mailto:&#104;&#101;&#108;&#112;&#64;&#104;&#111;&#108;&#108;&#121;&#119;&#111;&#111;&#100;&#108;&#97;&#99;&#101;&#46;&#99;&#111;&#109;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;">
            this e-mail address</a> or phone toll free 888-446-5602.</p>
</div>
