<div class="page-title">Hair Systems Styles</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium left" style="text-align: center">
    <div class="small left">
        <span class="image-title">Left Crown</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/leftcrown.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Right Crown</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/rightcrown.jpg" />
    </div> 
    <div class="small left">
        <span class="image-title">Center Crown</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/centercrown.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Left Part</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/leftpart.jpg" />
    </div>
    
    <div class="small left">
        <span class="image-title">Right Part</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/rightpart.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Center Part</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/centerpart.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Free Style</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/freestyle.gif" />
    </div>
    <div class="small left">
        <span class="image-title">Flat Back</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/flatback.jpg" />
    </div>
    
    <div class="small left">
        <span class="image-title">Pompadour</span>
        <img class="white-border" width="125" height="125" src="<?php echo $this->basePath(); ?>/images/pompadour.jpg" />
    </div>
</div>
