<div class="page-title">Hair Color</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p>Only to be used as a reference. Send in a sample of your hair and we can do a perfect match. 
        Please note all grays will be synthetic by default unless you request human for gray hair in box on order form</p>
</div>

<div class="vertical-space-medium large left" style="text-align: center">
    <div class="small left">
        <span class="image-title">1 Jet Black</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_1.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">1B Black/Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_2.jpg" />
    </div> 
    <div class="small left">
        <span class="image-title">2 Darkest Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_3.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">3 Dark/Medium Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_4.jpg" />
    </div>
    
    <div class="small left">
        <span class="image-title">4 Medium/Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_5.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">5 Medium/light Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_6.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">6 Medium/Light Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_7.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">7 Light Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_8.jpg" />
    </div>
    
    <div class="small left">
        <span class="image-title">17 Very Light Brown</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_9.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">18 Blonde</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_10.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">21 Golden Blonde</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_11.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">23 Blonde</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_12.jpg" />
    </div>
    
    <div class="small left">
        <span class="image-title">1B 5% Gray Black</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_13.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">1B 35% Gray</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_14.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">1B 50% Gray</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_15.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">1B 95% Gray</span>
        <img class="white-border" width="120" height="125" src="<?php echo $this->basePath(); ?>/images/haircolor_16.jpg" />
    </div>
</div>
