<div class="page-title">Density</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium large left" style="text-align: center">
    <div class="small left">
        <span class="image-title">  Extra Light 70%</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/density_extralight.jpg" />
    </div>
    <div class="small left left-space">
        <span class="image-title"> Light 80%</span>
        <img class="white-border " width="165" height="175" src="<?php echo $this->basePath(); ?>/images/density_light.jpg" />
    </div> 
    <div class="small left  left-space">
        <span class="image-title">Light/Medium 100% </span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/density_lightmedium.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Medium 110%</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/density_medium.jpg" />
    </div>
</div>
