<div class="page-title">Hair Color</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p><strong>Remy Human Hair:</strong> This human hair we use as our default. It has the cuticle intact and is truly an excellent choice for most. 
        It will last longer, less tangles and is more vibrant then processed hair.</p>
    
    <p><strong>Synthetic Hair:</strong> Many users select  synthetic hair as an option. The advantages of synthetic is that the color won't fade 
        and may last longer then human hair. The disadvantage is that knots on synthetic hair cannot be bleached. 
        For those with much grey and or thicker hair this is not an issue. We use a high quality synthetic and many argue it looks almost as good 
        as our human hair. When using synthetic hair stay away from hot water as that will damage it.</p>
    
    <p><strong>Finest Indian Hair:</strong> This is a great selection for those whose hair is very fine. 
        The cuticle has been stripped providing a much thinner textured hair. Again, we can match any hair texture. 
        This hair will not last as long as the Remy, but will serve a good purpose for those who need to match there own.</p>
    
    <p><strong>European Hair:</strong> We carry the highest quality European hair. Of course we charge more money if this is your selection.  
        The benefits of European hair is that it has the cuticle intact and is very vibrant, bouncy, and has great sheen.  
        This is a good choice for someone who is getting a full cap or has high quality side hair. 
        However, for those whose sides are average would stay with Remy. 
        Another advantage with European hair is that the knots do bleach better as no dyes are used.</p>
</div>
