<img  alt="banner" src="<?php echo $this->basePath() ?>/images/flsh_banner.jpg" title="Get hair from people who care." />

<div class="vertical-space-large">
    <img class="left"  width="90" height="78" alt="New Product" src="<?php echo $this->basePath() ?>/images/new-wide.jpg" />
    <div class="medium left-space left">
        <img width="306px"alt="Super Ultra Fine Swiss Lace" src="<?php echo $this->basePath() ?>/images/super-ultra-fine-swiss-lace.gif" />
        <ul class="pointer-list negetive-left">
            <li>We offer the lightest, most natural hair systems in the world. </li>
            <li>We can either <a class="content" href="duplicate_hairpiece.php">Duplicate</a> your current hair system or try one
            of our highly recognized <a class="content" href="custom_hair_system.php">Custom</a> hair systems. </li>
        </ul>
    </div>
</div>

<img width="528" height="175" alt="happy customers" src="<?php echo $this->basePath() ?>/images/hp_banner2-no-txt.jpg" style="margin-top:10px;" />

<div class="small left left-space">
    <p>Thanks for the best <i>hair system</i> I have ever worn. I have been wearing a <b>hair system</b> for over 15 years and HL hair system is truly the best HAIR SYSTEM!<br><br>
    Mike P. &nbsp;<a class="content" href="javascript:popUp('/mike.htm')">View My Photo</a></p>
</div>
<div class="small left left-space">
    <p>I had been a Hair Club member for many years and I am glad I found you. Your hair systems are far superior in quality then hair club & much, much less money.<br>
    <br />Tony S&nbsp; <a class="content" href="javascript:popUp('/TonySPic.htm')">View My Photo</a></p>
</div>
<div class="small left left-space">
    <p>Hollywoodlace, thank you for a truly great hair system. I am so glad my wife found your website. 
    Great Quality <b>Hair System</b> and affordable with quick delivery!<br><br>Scott S.&nbsp;<a class="content" href="javascript:popUp('/pic3.htm')">View MyPhoto</a></p>
</div>

<div class="small left left-space">
    <p>A Perfect hairline, soft human hair, perfectly bleached knots, and an all around great <b>mens hair system</b>. Thanks Bill you are the best.
        <br/><br/>Gordon P.&nbsp; <a class="content" href="javascript:popUp('/pic4.htm')">View My Photo</a></p>
</div>
<div class="small left left-space">
    <p>I have tried most of the internet companies and hair clubs. By far your <i>hair system</i> is the best quality and amazingly less money.
        <br/><br/>Jeff A. &nbsp;<a class="content" href="javascript:popUp('/JeffAPic.htm')">View My Photo</a></p>
</div>
<div class="small left left-space">
    <p>Hollywoodlace you guys are a savoir. My hair system tore and I was in a pickle. You got me a stock overnight and a <b>custom hair system</b> in 3 weeks.
        <br/><br/>Roman T.&nbsp; <a class="content" href="javascript:popUp('/romant.htm')">View My Photo</a></p>
</div>
