<div class="page-title">Stock Hair System</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
    <p>Your stock hair system will look just as
    good as a custom systems because it was made with the materials
    and the same way we make our custom units. Your stock hair
    system ships same day ordered. For U.S. clients, overnight
    delivery is available for an extra charge. Standard delivery
    is 2-3 days.</p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $199.00</span>
    <span class="special-sub-title">Regular Price $299.00</span>
</div>

<div class="vertical-space-medium">
    <div class="small left product-box">
        <span>Super Fine Swiss Lace</span>
        <div>
            <img src="<?php echo $this->basePath(); ?>/images/sf_swisslacegraphic.jpg" />
            <p>Super Fine Swiss Lace unit is the lightest, most undetectable Lace providing for a perfect hariline. 
                It is an all lace hair system you can use glue or tape for adhesion</p>
            <a href="<?php echo $this->url('order', array('id'=>'46'));?>"><img src="/images/paypal.gif" alt="add to cart" border="0" /></a>
        </div>

    </div>
    <div class="small left left-space product-box">
        <span> Super Fine Swiss Front, French Base with Side and Back Poly </span>
        <div>
            <img src="<?php echo $this->basePath(); ?>/images/sf_swissfrontfrenchbasesidebackpoly.jpg" />
            <p>You get the hairline benefit of the Super Fine Swiss Lace with the added durability of the 
                French Lace and adhesion of the Poly Perimeter.</p>
            <a href="<?php echo $this->url('order', array('id'=>'47'));?>"><img src="/images/paypal.gif" alt="add to cart" border="0" /></a>
        </div>

    </div>
    <div class="small left left-space product-box">
        <span>Super Fine Swiss Front, French Base with Full Poly 1/3&quot; off the Front</span>
        <div>
            <img src="<?php echo $this->basePath(); ?>/images/sf_swissfrontfrenchbasefullpoly.jpg" />
            <p>You get the hairline benefit of the Super Fine Swiss Lace (1/2 inch lace front) with the added durability of the 
                French Lace and adhesion of the Full Poly Perimeter.</p>
            <a href="<?php echo $this->url('order', array('id'=>'48'));?>"><img src="/images/paypal.gif" alt="add to cart" border="0" /></a>
        </div>

    </div>
</div>

<p>(Choose Hair Color, Density etc... after adding to cart)<br/></p>

<div class="vertical-space-medium question">
    <span>Stock Hair System Specifications:</span>
    <p>
        <strong>Price</strong>: $299.00<br/>
        <strong>Base size:</strong>: 10 inches long by 7 1/2 inches wide (you can cut this to a smaller size as is needed.<br/>
        <strong>Main Hair Type</strong>: Finest Indian Hair<br/>
        <strong>Gray Hair Type</strong>: $299.00<br/>
        <strong>Hair length</strong>:  6"<br/>
        <strong>Hair density</strong>: Choose Light/Medium Density or Medium Density. density is slightly graduated from front to
        back in the hairline providing the most natural appearance.
    </p>
</div>

