<div class="page-title">Super Silk Invisible Knots</div>

<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
<p>The New "Super Silk" Hair System with Super Fine Swiss lace front is one of the most invisible Hair System in the world today. 
    Our Hair System design engineers in concert with our factory have worked on this unit for over 2 years to finally create the perfect Hair System. 
    Each hair is indvidually drawn through from the ventilated layer through the extra light silk mono one hair strand at a time. 
    It is the only system where hair will not knot or tangle. The hair looks like it is coming right from your own scalp. 
    The Super Silk Hair System combines all the elements we want in a hair system; a perfect hairline, 
    a real appearance hair is growing right from your scalp (No KNOTS, NONE), fully breathable, light weight and durable. 
    The only system in the world like this. To improve adhesion some like to order it with a side and back or full poly perimeter.<br/><br/>
    The cost is slightly more  then any other systems as our production costs are higher, but well worth it. 
    As always we have done are best to keep the cost as low as possible for our customers. 
    If you cannot spend the money on the Super Silk hair system then try any one of our other <a href="custom_hair_system.php">Custom Hair Systems</a> 
    or <a href="duplicate_hairpiece.php">Duplicate</a> your current unit for only $159.  <br /><br /></p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $279.00</span>
    <span class="special-sub-title">Regular Price $599 </span>
    <a href="<?php echo $this->url('order', array('id'=>'31'));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>
<div class="vertical-space-medium">    
    <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/hairline5.jpg" />
    <img class="left-space white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/super_silk_01.jpg" />
</div>

<div class="vertical-space-medium">
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/supersilk1.jpg" title="Click Here For a Closer Look!">
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/supersilk1_thumb.jpg" />
    </a>
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/supersilk2.jpg" title="Click Here For a Closer Look!">
        <img class="left-space white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/supersilk2_thumb.jpg" />
    </a>
</div>

<div class="vertical-space-medium">
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/ssilklarge4.jpg" title="Click Here For a Closer Look!">
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/supersilk2_thumb.jpg" />
    </a>
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/ssilklarge5.jpg" title="Click Here For a Closer Look!">
        <img class="left-space white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/supersilk5_thumb.jpg" />
    </a>
</div>

<div class="vertical-space-medium">
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/ssilklarge1.jpg" title="Click Here For a Closer Look!">
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/ssilkthumb1.jpg" />
    </a>
    <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/ssilklarge2.jpg" title="Click Here For a Closer Look!">
        <img class="left-space white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/ssilkthumb2.jpg" />
    </a>
</div>
