<div class="page-title">Super Fine Swiss Lace nvisible Knots</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
<p>The Super Fine Swiss Lace w/Bleached Knots (optional) is one of the lightest, most invisible full lace hair system available. 
    This hair system is geared for those who demand a perfect undetectable hairline. 
    We use single standing combined with a new knot concealing method to make knots appear invisible. 
    This allows you to wear your best density and hairstyle not having to worry about detectability... 
    The hair system is so perfect it literally becomes part of your scalp. It is fully breathable and you treat it like your own hair... wash, condition, 
    and have fingers run through it. We also apply a weightless sealant on our Ultra Super Fine Swiss Lace 
    Invisible Knot Hair System to give it extra durablity, less hair pull through, and a longer adhesion. 
    To improve adhesion some like to order it with a side and back or full poly perimeter. 
</p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $159.00*</span>
    <span class="special-sub-title">Regular Price $299.00 </span>
    <a href="<?php echo $this->url('order', array('id'=>'33'));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>
<p>(Choose Hair Color, Density etc... after adding to cart)<br/> <span style="font-size: 10px;">* There is an additional fee for bleached knots</span></p>
<h3>SEE THE DIFFERENCE!</h3>
<div class="vertical-space-medium left">
    <div class="medium left">
        <span class="image-title">KNOTS</span>
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/knots.jpg" />
    </div>
    <div class="medium left left-space">
        <span class="image-title">INIVISIBLE KNOTS</span>
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/noknots11.jpg" />
    </div>
    
</div>

<div class="vertical-space-medium left">
    <div class="medium left">
        <span class="image-title">COMPETITORS KNOTS</span>
        <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/knots12.jpg" title="Click Here For a Closer Look!">
            <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/knots12.jpg" />
        </a>
    </div>
    <div class="medium left left-space">
        <span class="image-title">HOLLYWOODLACE INVISIBLE KNOTS</span>
        <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/knotsno3.jpg" title="Click Here For a Closer Look!">
            <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/knotsno3.jpg" />
        </a>
    </div>
</div>

<div class="vertical-space-medium left">
    <div class="medium left">
        <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/swiss-lace1.jpg" title="Click Here For a Closer Look!">
            <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/swiss1-thumb.jpg" />
        </a>
    </div>
    <div class="medium left left-space">
        <a target="_blank" class="style10" href="<?php echo $this->basePath(); ?>/images/swiss-lace1.jpg" title="Click Here For a Closer Look!">
            <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/swiss2-thumb.jpg" />
        </a>
    </div>
</div>
