<div class="page-title">Terms and Conditions</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium question">
    <span>This web site is operated by <a href="/">Hollywoodlace.com</a></span>
    <p>The mailing address for Hollywoodlace.com is 1250 East Hallandale Beach Blvd, Suite 600, Hallandale, Florida 33009, 
        and we can be reached via e-mail at 
        <a href="mailto:&#104;&#101;&#108;&#112;&#64;&#104;&#111;&#108;&#108;&#121;&#119;&#111;&#111;&#100;&#108;&#97;&#99;&#101;&#46;&#99;&#111;&#109;" class="normal">
            <b>this e-mail address</b></a> or 866-790-1414.
    </p>
</div>
<div class="vertical-space-medium question">
    <span>Your use of this web site is Governed by these Terms and Conditions:</span>
    <p>Please take a few minutes to review these Terms and Conditions. Your use of this website constitutes your agreement to follow these rules 
        and to be bound by them. If you do not agree with any of these Terms and Conditions, do not use the Hollywoodlace.com as your hair system provider. 
        We are committed to keeping costs low for our valued customers. Thus, protection for both our customers and ourselves are of great importance. </p>
    <p>These Terms and Conditions can be modified and updated without notice anytime. 
        You will be bound by the terms that were checked off with your purchase.</p>
    <p><a class="content" href="/">Hollywoodlace.com</a> reserves the right to update or modify these Terms and Conditions at any time without prior notice. 
        Your use of this website following any such change constitutes your agreement to follow and be bound by the Terms and Conditions as changed. 
        For this reason, we encourage you to review these Terms and Conditions whenever you use this web site.</p>
</div>
<div class="vertical-space-medium question">
    <span>Copyright Notice</span>
    <p>All of the Content you see and hear on the <a class="content" href="/">Hollywoodlace.com</a> website, including, for example, all of the page headers, images, illustrations, 
        graphics, audio clips, video clips and text, are subject to trademark, service mark, trade dress, copyright and/or 
        other intellectual property rights or licenses held by Hollywoodlace.com.</p>
    <p>The Content of this website, and the site as a whole, is intended solely for personal, noncommercial use by the users of oursite. 
        You may download, print and store selected portions of the Content, provided you (1) only use these copies of the Content for your own personal, 
        non commercial use, (2) do not copy or post the Content on any network computer or broadcast the Content in any media, 
        and (3) do not modify or alter the Content in any way, or delete or change any copyright or trademark notice. </p>
    <p>No right, title or interest in any downloaded materials is transferred to you as a result of any such downloading.</p>
    <p>Except as noted above, you may not copy, download, reproduce, modify, publish, distribute, transmit, 
        transfer or create derivative works from the Content without first obtaining written permission from Hollywoodlace.com.</p>

</div>

<div class="vertical-space-medium question">
    <span>Submissions</span>
    <p>We welcome your comments regarding this website. However, any comments, feedback, notes, messages, ideas, suggestions or 
        other communications (collectively, "Comments") sent to Hollywoodlace.com shall be and remain the exclusive property of Hollywoodlace.com. 
        Your submission of any such Comments shall constitute an assignment to Hollywoodlace.com of all worldwide rights, 
        titles and interests in all copyrights and other intellectual property rights in the Comments. Hollywoodlace.com will be entitled to use, 
        reproduce, disclose, publish and distribute any material you submit for any purpose whatsoever, without restriction and without compensating 
        you in any way. For this reason, we ask that you not send us any comments that you do not wish to assign to us, 
        including any confidential information or any original creative materials such as stories, product ideas, computer code or original artwork.. </p>			
</div>

<div class="vertical-space-medium question">
    <span>Colors</span>
    <p>We have done our best to display as accurately as possible the colors of the products shown on this web site. However, 
        because the colors you see will depend on your monitor, we cannot guarantee that your monitor's display of any color will be accurate. 
        To improve accuracy we highly recommend you send in a sample of your hair. If you choose or select the wrong color your are responsible, not us. 
        We will copy the color you request. In such a circumstance we will not replace the unit without a fee. 
        Therefore, make sure you know your color or send us in a sample.</p>			
</div>

<div class="vertical-space-medium question">
    <span>Return Policies</span>
    <p>All stock hair systems that are uncolored, uncut, and have not been used in anyway may receive a full refund minus shipping, 
        and restock fee of $25.00. All custom hair systems may be re-submitted for changes such as color, density, etc... 
        at no charge within 15 days of purchase. we made a mistake we will cover all shipping costs for this and fix the problem. 
        If the mistake is made by the customer they will endure the shipping costs. We offer refunds for custom systems provided the customer does 
        the following. They must first give us an opportunity to correct any errors such as density, color etc... 
        Then we will send back the corrected hair system to them. IF THE CUSTOMER CHOSE THE WRONG COLOR, SIZE, BASE TYPE, LENGTH, STYLE ECT...
        Then we will not fix without a charge of less then $99.00 additional. We will only guarantee the order submitted by the client. 
        If the client chooses the wrong specs they are financially responsible. We are glad to help and work with the client, 
        but are under no obligation to do so. If they are still unsatisfied they need to fill out return form and send back with untouched, 
        uncolored, and unworn hairpiece. The customer will receive full refund minus shipping cost and a $50.00 restocking fee. 
        Additionally, any extras such as "rush", "super rush" or extra hair length charges will NOT be refunded.</p>
    <p><b>YOU CAN NOT ORDER A CUSTOM HAIRPIECE AND THEN <U>BEFORE</U> RECEIVING IT DECIDE I CHANGE MY MIND. IF YOU CHOOSE TO DO 
        SO WE WILL CHARGE YOU A $125.00 PENALTY PER HAIRPIECE.THERE WILL BE NO REFUND FOR EXTRAS SUCH AS HAIR LENGTH, RUSH SERVICE ETC...</b></p>
    <p>General time for a hair system to be delivered is from 3-6 weeks. However, no guarantees of time have been made other 
        then it will not exceed 55 days for delivery. The time doesn't neccessarily start when a person pays, but rather 
        when we receive all the specs including their template, hair sample, etc... for Refunds for delay will only be issued if it goes past 55 days.</p>
    <p>Correction of Errors and Inaccuracies; Limitations on Quantity; Returns; Risk of Loss</p>
</div>

<div class="vertical-space-medium question">
    <span>Super Rush, Rush Delivery terms:</span>
    <p>In general terms Rush and Super Rush production services allow the client to receive his or her hairpiece quicker 
        then they would normally under standard conditions. We give a general guideline of 3 weeks for "super rush" and 4 weeks for "rush" service. 
        In no way do we guarantee an extact date or timetable for this service. All hairpieces are made custom and such no exact time can be guaranteed. 
        This service means it will be faster production then if a person chooses standard. 
        NO REFUNDS will be made for "super rush" or "rush" fees for delays. However, at the discretion of Hollywoodlace we may credit the "super rush" 
        and "rush" fee if the production is unusually past the "rush" or "super rush" time schedule.</p>
    <p>The information on this website may contain typographical errors or inaccuracies and may not be complete or current. 
        We therefore reserve the right to correct any errors, inaccuracies or omissions and to change or 
        update information at any time without prior notice (including after you have submitted your order). 
        Please note that such errors, inaccuracies or omissions may relate to product description, pricing and availability. 
        We also reserve the right to limit quantities (including after you have submitted your order). 
        We apologize for any inconvenience this may cause you. Please see our Pricing Information for more details. 
        If you are not fully satisfied with your purchase you may return it in accordance with our return policy. 
        The risk of loss and title to items purchased from Hollywoodlace.com pass to the purchaser upon our delivery to the carrier.</p>
</div>

<div class="vertical-space-medium question">
    <span>Your Personal Information</span>
    <p>Our web site <a class="content" href="/">Hollywoodlace.com</a> may ask you for a variety of personal details at various place.s. 
        We will only keep this information permanently with your explicit permission, or if you make a hair system or product purchase in our store. 
        Under no circumstances will we ever sell, lease, loan or rent your information to any other company for any reason whatsoever. 
        Any email messages sent to you via Hollywoodlace are purely opt-in, and you can stop recieving them at any point with no questions asked.</p>
</div>

<div class="vertical-space-medium question">
    <span>LIMITATION OF LIABILITY</span>
    <p>UNDER NO CIRCUMSTANCES, SHALL HOLLYWOODLACE OR ANY OF THEIR EMPLOYEES, DIRECTORS, OFFICERS, AGENTS, VENDORS OR SUPPLIERS BE LIABLE FOR ANY 
        DIRECT OR INDIRECT LOSSES OR DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OF OR INABILITY TO USE THIS WEB SITE.</p>
    <p>THIS IS A COMPREHENSIVE LIMITATION OF LIABILITY THAT APPLIES TO ALL LOSSES AND DAMAGES OF ANY KIND (WHETHER GENERAL, SPECIAL, CONSEQUENTIAL, 
        INCIDENTAL, EXEMPLARY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, LOSS OF DATA, INCOME OR PROFITS), WHETHER IN CONTRACT, 
        NEGLIGENCE OR OTHER TORTIOUS ACTION, EVEN IF AN AUTHORIZED REPRESENTATIVE OF <a class="content" href="/">HOLLYWOODLACE.COM</a> 
        HAS BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES.</p>
    <p>IF A CUSTOMER DECIDES TO PURSUE A "CHARGEBACK" THEY ARE REQUIRED TO CONTACT US FIRST IN WRITING WHY THEY ARE DOING SO AND GIVE US 
        A CHANCE TO RESOLVE THE ISSUE.</p>
    <p>IF YOU ARE DISSATISFIED WITH THIS WEBSITE OR ANY CONTENT ON THE SITE, OR WITH THESE TERMS AND CONDITIONS, 
        YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THIS WEB SITE. YOU ACKNOWLEDGE, BY YOUR USE OF THIS WEBSITE, 
        THAT YOUR USE OF THE SITE IS AT YOUR SOLE RISK.</p>
    <p>APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OF LIABILITY SET FORTH ABOVE, SO THIS LIMITATION OF LIABILITY MAY NOT APPLY TO YOU. 
        IF ANY PART OF THIS LIMITATION ON LIABILITY IS FOUND TO BE INVALID OR UNENFORCEABLE FOR ANY REASON, 
        THEN THE AGGREGATE LIABILITY OF <a class="content" href="/">HOLLYWOODLACE.COM</a> UNDER SUCH CIRCUMSTANCES FOR LIABILITIES 
        THAT OTHERWISE WOULD HAVE BEEN LIMITED SHALL NOT EXCEED ONE HUNDRED DOLLARS ($100).</p>
    <p>ENFORCEMENT OF TERMS AND CONDITIONS</p>
    <p>BY ACCESSING AND USING THE HOLLYWOODLACE.COM WEB SITE, YOU AGREE THAT YOUR ACCESS TO AND USE OF THIS WEB SITE IS SUBJECT TO THESE TERMS AND CONDITIONS, AS WELL AS ALL APPLICABLE LAWS, AS GOVERNED AND INTERPRETED PURSUANT TO THE LAWS OF THE STATE OF Tennessee, UNITED STATES OF AMERICA. Any unwarranted chargebacks and/or non payments will be met with legal action combined with reporting to Equifax, Transunion, and Experian Credit Reports.</p>
    <p>Last updated May 2008.</p>
</div>

<div class="vertical-space-medium question">
    <span>ENFORCEMENT OF TERMS AND CONDITIONS</span>
    <p>BY ACCESSING AND USING THE HOLLYWOODLACE.COM WEB SITE, YOU AGREE THAT YOUR ACCESS TO AND USE OF THIS WEB SITE IS SUBJECT TO 
        THESE TERMS AND CONDITIONS, AS WELL AS ALL APPLICABLE LAWS, AS GOVERNED AND INTERPRETED PURSUANT TO THE LAWS OF THE STATE OF Tennessee, 
        UNITED STATES OF AMERICA. Any unwarranted chargebacks and/or non payments will be met with legal action combined with reporting to Equifax, 
        Transunion, and Experian Credit Reports.</p>
    <p>Last updated May 2008.</p>
</div>
<div class="vertical-space-medium question"><a class="content" href="<?php echo $this->url('order', array('action'=>'show'))?>"><< go back to the cart</a></div>
