<div class="page-title">Invisible Thin Skin (Thinnest)</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
<p>The Invisible Thin Skin Hair System is made from the lightest and most ultra thin poly ever... 
    Each hair is placed into the transparent thin skin hair base with a new state of the art injection method...
    making it appear hair is growing directly from  your scalp. There are no appearance of knots and the hair system looks unbelievably natural!
    - Ideal for swimming, sports, sleep, etc... This hair systems base takes on the exact shape of your head and almost "adheres" by itself 
    to your skin without any adhesive tapes.
</p>
</div>
<div class="small">
    <span class="special-title">Special Trial Offer! <br/>Only $199.00</span>
    <span class="special-sub-title">Regular Price $299.00</span>
    <a href="<?php echo $this->url('order', array('id'=>'39'));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>
<p>(Choose Hair Color, Density etc... after adding to cart)<br/></p>

<div class="vertical-space-medium large" style="text-align: center">
    <img class="white-border" width="210" height="135" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/pictureg2.jpg" />
    <img class="white-border left-space" width="210" height="135" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/pictureg1220.jpg" />
</div>

<div class="vertical-space-medium large" style="text-align: center">
    <img  class="white-border" width="210" height="135" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/thin-skin1-small.jpg" >
</div>

<div class="large left">
    <p>You can brush or comb in any direction, part or uneven part, brush forwards, backwards, left or right. 
    Cut the hair as short as you like, even down to 1/2 inch. It feels like real skin. Our new Invisible Thin Skin hair system disappears on your scalp. 
    It blends in and camouflages itself! Some clients may want a slightly thicker more durable skin unit. If this is the case just mention that you want 
    level 2 thin skin in box below on the order form. Otherwise you will get the ultra thin skin as default.
    </p>
    <p>
        If you ever have any questions or need help please don't hesitate to contact us directly at 
        <a class="content" href="mailto:&#104;&#101;&#108;&#112;&#64;&#104;&#111;&#108;&#108;&#121;&#119;&#111;&#111;&#100;&#108;&#97;&#99;&#101;&#46;&#99;&#111;&#109;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;">
            this e-mail address</a> or phone toll free 888-446-5602.
    </p>
</div>
