<div class="page-title">Waves/Curls</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium large left">
    <div class="small left">
        <span class="image-title">Body Wave </span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_bodywave.jpg" />
    </div>
    <div class="small left left-space">
        <span class="image-title">Slight Wave </span>
        <img class="white-border " width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_slightwave.jpg" />
    </div> 
    <div class="small left  left-space">
        <span class="image-title">Medium Wave</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_mediumwave.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Tight Wave</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_tightwave.jpg" />
    </div>
    <div class="small left left-space">
        <span class="image-title">Loose Curl</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_loosecurl.jpg" />
    </div>
    <div class="small left left-space">
        <span class="image-title">Tight Curl</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/wave_tightcurl.jpg" />
    </div>
    <div class="small left">
        <span class="image-title">Afro</span>
        <img class="white-border" width="165" height="175" src="<?php echo $this->basePath(); ?>/images/waves_afrocurl.jpg" />
    </div>
</div>
