<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <?php echo $this->headTitle($this->translate('Hollywood Lace Admin'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . 'http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css')
                ->prependStylesheet($this->basePath() . '/css/admin.css')
                ->prependStylesheet($this->basePath() . '/css/form.css')
                ->prependStylesheet($this->basePath() . '/css/table.css')
        ?>

        <!-- Scripts -->
        <?php
        echo $this->headScript()->prependFile($this->basePath() . '/js/common.js')
//                ->prependFile($this->basePath() . '/js/tiny_mce/jquery.tinymce.js')
                ->prependFile($this->basePath() . 'http://code.jquery.com/ui/1.10.2/jquery-ui.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js')
        ?>
        <script type="text/javascript" src="/js/jwysiwyg/jquery.wysiwyg.js"></script>        
        <link href='/js/jwysiwyg/jquery.wysiwyg.css' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div id="page-wrapper">
            <div id="main" class="clearfix">
                <div id="sidebar">
                    <div id="logo">
                        <img height="82" src="<?php echo $this->basePath(); ?>/images/logo.png" alt="Home" />
                    </div>
                     <?php if($identity):
                     foreach($menu as $key=>$section):?>
                    <span class="menu-header"><?php echo $key?>:</span>
                    <ul>
                    <?php foreach($section as $item):?>
                        <li><a href="<?php echo $item['url'];?>"><?php echo $item['name']?></a></li>
                    <?php endforeach;?>
                    </ul>
                    <?php endforeach;?>
                    <span class="menu-header">&nbsp;</span>
                    <ul>
                        <li><a href="<?php echo $this->url('admin-auth', array('action'=>'logout'))?>">Logout</a></li>
                    </ul>
                    <?php endif;?>
                </div><!-- /.section, /#sidebar-first -->
                <div id="content">
                    <h2 class="page-title"><?php echo(isset ($pageTitle))? $pageTitle:'Admin Panel'; ?></h2>
                    <?php echo $this->content; ?>
                </div>

            </div>
        </div>
<?php echo $this->inlineScript() ?>
    </body>
</html>
