<?php //var_dump($mainMenu);die;?>
<div id="myslidemenu" class="navigation jqueryslidemenu">
    <ul id="main-menu">
        <?php foreach ($mainMenu as $key => $item): ?>
        <li class="<?php echo($key=='order')? 'last':null?>"><a href="/<?php echo $key; ?>"><?php echo $item['title'] ?></a>
            <?php if(array_key_exists('child', $item)):?>
            <ul class="sub-nav">
                <?php foreach ($item['child'] as $index=>$subItem): ?>
                    <li><a href="/<?php echo $index; ?>"><?php echo $subItem ?></a></li>
                <?php endforeach; ?>
            </ul>
            <?php endif;?>
        </li>
        <?php endforeach; ?>
    </ul>
</div> <!-- /.section, /#navigation -->
