<?php if ($this->pageCount): ?>
    <ul id="pagination">
        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <li>
                <a href="<?php echo $this->url($this->route, array('action' => $this->action, 'id' => $this->previous, 'orderby'=>$this->orderby)); ?>">
                    < Previous
                </a>
            </li>

        <?php else: ?>
            <li class="previous-off">< Previous</li>
        <?php endif; ?>

        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li>
                    <a href="<?php echo $this->url($this->route, array('action' => $this->action, 'id' => $page, 'orderby'=> $this->orderby)); ?>">
                        <?php echo $page; ?>
                    </a>
                </li>

            <?php else: ?>
                <li class="active"><?php echo $page; ?></li>
            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <li>
                <a href="<?php echo $this->url($this->route, array('action' => $this->action, 'id' => $this->next, 'orderby'=>$this->orderby)); ?>">
                    Next >
                </a>
            </li>
        <?php else: ?>
            <li class="next-off">Next ></li>
        <?php endif; ?>
    </ul>
<?php endif; ?>