﻿/* General */

* {
	margin: 0;
	padding: 0;
}

body {
    font-size:12px; 
    margin:0px; 
    font-family:Tahoma; 
    color:#000000; 
    background-color:#FFFFFF;
}

h2.page-title{ color:#000090; margin-bottom: 20px;}
.hidden{display: none;}

#main{
    
}

#sidebar{
    width: 250px;
    float: left;
    background-color: #CCCCCC;
    border-right: 1px solid #555555;
}

#content{
    width: 780px;
    float: left;
    padding: 20px 0 20px 20px;
}

.menu-header, .content-heading{
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 240px;
}

.menu-header{
    background-color: #EEEEEE;
    padding-left: 10px;
}

.content-heading{ margin: 10px 0 5px 0;}

#logo{
    padding: 20px;
}
li{ list-style: none;}

#sidebar ul{
    padding: 10px 30px;
    display: block;
}

#sidebar a{
    color: #0000AA;
    font-size: 12px;
    text-decoration: none;
}

ul.bulet-list li{ list-style: inside}

/* Pagination */

#pagination {
	margin: 0 0 15px;
	padding: 0;
	border: none;
}

#pagination li {
	border:0; 
	margin:0; 
	padding:0;
	list-style:none;
}

#pagination li, #pagination a {
	margin-right:2px;
	display: inline;
}

#pagination .previous-off,
#pagination .next-off {
	color:#999;
	display:block;
	float:left;
	font-weight:bold;
	padding:0 4px;
}
	
#pagination .next a,
#pagination .previous a {
	border:none;
	font-weight:bold;
}
	
#pagination .active {
	color:#000000;
	font-weight:bold;
	display:block;
	float:left;
	padding:0 4px;
}

#pagination a:link, 
#pagination a:visited {
	display:block;
	float:left;
	padding:0 4px;
	text-decoration:underline;
}

#pagination a:hover {
	text-decoration:none;
}

.form-container{
    background-color: #EFEFEF;
    border: 1px solid #555555;
}

.form-container h3{ 
    background-color: #CCCCCC;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

label.second{ padding-left: 24px}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.multi-checkbox{
    float: left;
}

.multi-checkbox label{
    display: block;
    clear: both;
    width: 250px;
    padding: 5px 0px;
}

.product{ float: left;width: 100%; border-bottom: 1px #CCC solid;}

.product-title{
    display: inline-block;
    float: left;
    font-size: 11px;
    width: 30%;
}

.porduct-option{
    float: left;
    width: 68%;
}

.product-info{ float: left; padding: 4px 0px; width: 100%}

.product-info span{
    display: block;
    float: left;
    padding: 0 5px;
    font-size: 12px;
}

.product-info span.large{width: 190px}

.product-info span.medium{width: 90px}

.product-info span.small{width: 50px; font-weight: bold;}

span.red{ color: #FF000B;}
span.green{ color: #00AA2D;}
span.grey{ color: #999999;}
span.pink{ color: #FF24F4;}

