body {

    background-color: #8DA2C3;
    margin: 0px;
    padding: 0px;

}

.footer {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #FFFFFF;
    background-image: url(/images/footer.jpg);
    background-repeat: no-repeat;
    height: 54px;

}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

h2{
    color: #FF7C00;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

h3{
    color: #fff;
    text-align: center;
}
a {
    font-family: Arial, Helvetica, sans-serif;
}

a.normal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    text-decoration: none;  
}

li{
   list-style: none outside none;
}

li.last{
    border: none !important;
}

li a {
    text-decoration: none;
    padding-right: 10px;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
}

ol li{
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    list-style: decimal;
}

p, td{
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
}

td p{ margin: 2px 0px}

.hidden{display: none;}

p.comment{color: #ccc;}

p.form-text{font-family: Tahoma; font-size: 12px}

#page {width: 739px; margin: auto;}

#logo {float: left;}

a#logo {text-decoration: none;}

#name-and-slogan {
    float: left;
    margin-left: 100px;
}
#site-name a {
    text-decoration: none;
}

#header {
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

#header-top{
    background:url(../images/top_header.jpg) no-repeat center top;
    padding-top: 20px;
    
}
.header-inner{
    background-image: url(../images/top_bg.jpg);
    height: 87px;
    border-left: 1px solid #B4BFC7;
    border-right: 1px solid #B4BFC7;
    
}

#header-middle{ width: 260px}

#header-middle img{
    float: left;
    display: block;
}

.flat-list ul{
    margin-top: 0px;
}

.flat-list ul li{
    float: left;
    padding: 0 4px;
    border-right: 1px solid #fff;
    line-height: 8px;
}


.navigation {
    background-color: #09265E;
    height: 27px;
    border: 1px solid #B4BFC7;
    float: left;
    width: 738px;
    margin-top: -3px;
}

ul#main-menu {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul#main-menu li, .border-right {
    border-right: 1px solid #FFFFFF;
}

ul#main-menu li a{
    display: block;
    height: 27px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 100px;
}

ul#main-menu li a:hover{
    background-color: #2E4E8C;
}

#main-wrapper {
    clear: both;
    background-color: #09265E;
    border-left: 1px solid #B4BFC7;
    border-right: 1px solid #B4BFC7;
    margin-right: auto;
    margin-left: auto;
}

#sidebar {
    margin-left: 6px;
    float: left;
    width: 170px;
}

#sidebar-first {
    background-color: #2E4E8C;
    border: 1px solid #E3ECFB;
    margin-top: 6px;
}

#sidebar-first ul{
    padding-left: 0px;
    margin: 0px;
}

#sidebar-first ul li{
    border-bottom: 1px solid #6483BF;
    line-height: 25px;
    text-align: right;
}

#sidebar-first ul li a{
    height: 30px;
    display: block;
}

#sidebar-first ul li a:hover{
    background:url(../images/menu_o.jpg) repeat-x;
    color: #09265E;
    border-top: 1px solid #002A5A;
    border-bottom: 1px solid #002A5A;
    height: 28px;
}

#sidebar-celebraty{ background:url(../images/celebrityform.jpg) no-repeat;   margin-bottom: 10px; padding-top: 145px;}

#sidebar-celebraty label{display: inline; color: #000}

#sidebar-celebraty input{height: 10px; border: 1px solid #000; width: 90px;}

#top-option{ margin: 6px 10px 20px 0px;}

#top-option ul{
    padding-left: 6px;
    margin: 6px 0px;
    float: left;
}

#top-option a{
   padding-right: 0px;
   text-decoration: none;
}

#top-option span{ margin-top: 4px;}

#content {
    float: left;
    width: 550px;
    padding-left: 10px;
    margin-top: 6px;
}


#footer{
    background:url(../images/footer.jpg) no-repeat center;
    height: 40px;
    text-align: center;
}

#footer a {
    font-size: 9px;
    color: #FFFFFF;
}

#footer a:hover {
    font-size: 9px;
    color: #FF7C00;
}

div.page-title{
    background:url(../images/grad1.gif) repeat-x;
    color: #09265E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-left: 5px;
}

div.vertical-space{
    margin: 6px 0px;
}

div.vertical-space-large{
    margin: 30px 0px;
}

div.vertical-space-medium{margin: 10px 0px;}

div.large{width: 548px;}

div.large-medium{width: 365px;}

div.medium{width: 253px;}

div.small-medium{ width: 215px}

div.small{width: 166px;}

.left-space{margin-left: 15px;}

.left{float: left;}

.center{text-align: center;}

.negetive-left{margin: 0px 0px 0px -25px;}

ul.pointer-list li{
    list-style: circle;
    color: #fff;
    padding: 4px 0;
    font-size: 0.8em;
    font-weight: bold;
}

a.content{
    color: #FFCC10;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

a.content:hover{
    color: #EDFFCC;
}

.special-title{
    font-size: 16px;
    color: #FFCC00;
    font-weight: bold;
    display: block;
    clear: both;
}


.special-sub-title{
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.special-title-grey{
    font-size: 15px;
    color: #ccc;
    font-weight: bold;
    display: block;
    clear: both;
    text-align: center;
}

.white-border{
    border: 1px solid #fff;
}

.image-title{
    color: #fff;
    font-size: 11px;
}

.product-box{
    background-color: #fff;
    text-align: center;
    color: #000; 
    padding-bottom: 5px;
    border: 2px solid #8DA2C3;
}

.product-box span{
    display: block;
    background-color: #ADBCD3;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    height: 36px;
}

.product-box p{ color: #000; min-height: 80px}

.question span, .yellow{
    color: #FFCC00;
    font-weight: bold;
    font-size: 11px;
}

.question P{
    margin: 0px 0px 10px 0px;
}

.white-bold {
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
}

label{ color: #fff ; font-size: 11px; font-family: Tahoma; font-weight: bold}

form label{ display: block; margin: 8px 0px;}

form label span{ width: 125px; display: inline-block;}

form label ul{ margin: 5px 0px 11px 87px; color: red}


select{ background-color: #fff; color: #000; font-size: inherit; font-family: inherit;}

input{color: #000; font-size: inherit; font-family: inherit; padding-right:5px }

input.button{color: #4C4C4C; font-weight: bold}

.field-large {width: 350px}
.field-medium {width: 225px}
.field-small {width: 80px}

.field-height-medium {height: 100px}

span.field-info-text{ width: auto; font-weight: normal}

table{background-color: #ccc;}
table tr th{background-color: #eee; height: 20px; font-family: tahoma; font-weight: bold; font-size: 11px;}
table tr td{vertical-align: top;padding: 2px;background-color: #09265E}

p.description{ background-color: #AAAAAA; color: #093D88; padding: 5px;}

p.description .note {color: #2C5B9C}

#check-status p{margin: 0px;}
.error{ color: #FF0000; font-weight: bold; font-size: 14px;}