/* Table Style */

table {
	width: 100%;
	margin: 0 0 15px;
	text-align: left;
	font-size: inherit;
}

table thead {
	color: #666;
}

table th {
	font-weight: bold;
	padding: 5px 8px;
	color: #666;
	background: #e5e5e5;
        text-align: center;
}

table th  a{
    color: #fff;
    font-weight: bold;
}

table td {
	padding: 3px;
}

table td span.active { color: #55a34a;}
table td span.pending { color: #c5a059;}
table td span.closed { color: #a02b2b;}

table tr {
	border-top: none;
	background: #f0f0f0;
}


table .odd {
	background: #fff; 
}

table.report-table{
    background-color: #FFFFFF;
    border: 1px solid #555555;
    font-size: 11px;
}

table.report-table th{
    background-color: #333333;
    color: #FFFFFF;
}
.data-gray{
    background-color: #E9E9E9;
    color: #000000;
}

.data-green{
    background-color: #D4FFBF;
    color: #000000;
}

