<div class="page-title">Checkout</div>
<div class="clearfix"></div>
<div class="vertical-space-medium">
    <p>Dear <?php echo $cart['BillingFirstName'].' '.$cart['BillingLastName']?><br/>Your Order <?php echo $cart['CartID']?> 
        is placed and confirmed. Thank you for shopping with <br/>
        <b>hollywoodlace.com</b>is committed and dedicated to proving the highest quality hair systems at the most affordable pricing.<br/>
        Please feel free to contact us anytime for further assistance. We value your business and look forward to working with you in the future.
    </p>
</div>
<div class="large vertical-space-medium">
    <fieldset>
        <legend class="yellow">Billing Information</legend>
        <P><span class="special-sub-title">First Name : </span><?php echo $cart['BillingFirstName']; ?></p>
        <P><span class="special-sub-title">Last Name : </span><?php echo $cart['BillingLastName']; ?></p>
        <P><span class="special-sub-title">Country : </span><?php echo $cart['billingCountry']; ?></p>
        <P><span class="special-sub-title">State : </span><?php echo $cart['billingState']; ?></p>
        <P><span class="special-sub-title">Address : </span><?php echo $cart['BillingAddress']; ?></p>
        <P><span class="special-sub-title">City : </span><?php echo $cart['BillingCity']; ?></p>
        <P><span class="special-sub-title">Zip Code : </span><?php echo $cart['BillingZipCode']; ?></p>
        <P><span class="special-sub-title">Phone : </span><?php echo $cart['BillingPhone']; ?></p>
        <P><span class="special-sub-title yellow">Email : </span><?php echo $cart['BillingEmail']; ?></p>
    </fieldset>
    <fieldset>
        <legend class="yellow">Shipping Information</legend>
        <P><span class="special-sub-title">First Name : </span><?php echo $cart['ShippingFirstName']; ?></p>
        <P><span class="special-sub-title">Last Name : </span><?php echo $cart['ShippingLastName']; ?></p>
        <P><span class="special-sub-title">Country : </span><?php echo $cart['shippingCountry']; ?></p>
        <P><span class="special-sub-title">State : </span><?php echo $cart['shippingState']; ?></p>
        <P><span class="special-sub-title">Address : </span><?php echo $cart['ShippingAddress']; ?></p>
        <P><span class="special-sub-title">City : </span><?php echo $cart['ShippingCity']; ?></p>
        <P><span class="special-sub-title">Zip Code : </span><?php echo $cart['ShippingZipCode']; ?></p>
        <P><span class="special-sub-title">Phone : </span><?php echo $cart['ShippingPhone']; ?></p>
        <P><span class="special-sub-title yellow">Email : </span><?php echo $cart['ShippingEmail']; ?></p>
    </fieldset>
</div>

<h3>Order Details</h3>
<?php echo $this->partial('application/cart/order_products.phtml', array('productCarts'=>$productCarts, 'cart'=>$cart)); ?>

