<div class="form-container">
    <h3>&nbsp;</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="field-contianer clearfix">
        <?php $UsrLogin = $form->get('UsrLogin'); ?>
        <div class="label-container left"><label><?php echo $UsrLogin->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($UsrLogin); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $UsrPassword = $form->get('UsrPassword'); ?>
        <div class="label-container left"><label><?php echo $UsrPassword->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($UsrPassword); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $FirstName = $form->get('FirstName'); ?>
        <div class="label-container left"><label><?php echo $FirstName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($FirstName); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $LastName = $form->get('LastName'); ?>
        <div class="label-container left"><label><?php echo $LastName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($LastName); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $resources = $form->get('resources'); ?>
        <div class="label-container left"><label><?php echo $resources->getOption('label'); ?></label></div>
        <div class="multi-checkbox" style="float: left; width: 40px"><?php echo $this->formMultiCheckbox($resources); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-account', array('action'=>'user'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
