<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-account', array('action'=>'add'))?>">Add New</a>
</div>

<table class="report-table">
    <tr>
        <th>Action</th>
        <th>Login</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last&nbsp;Name</th>
        <th>Access</th>
        <th>Last&nbsp;Update</th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($list as $i => $user): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-account', array('action'=>'edit', 'id'=>$user['AccountID']))?>">Edit</a>
                <?php if($user['Access']!=1):?>
                <a href="<?php echo $this->url('admin-account', array('action'=>'delete', 'id'=>$user['AccountID']))?>">Delete</a>
                <?php else:?>
                Delete
                <?php endif;?>
            </td>
            <td><?php echo $user['UsrLogin']; ?></td>
            <td><?php echo $user['UsrPassword']; ?></td>
            <td><?php echo $user['FirstName']; ?></td>
            <td><?php echo $user['LastName']; ?></td>
            <td><?php echo ($user['Access']==1)? 'Administrator':'Manager'; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($user['LastUpdate'])); ?></td>
            <td><?php echo $user['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-account', 'action' => 'user'));
?>