<table class="report-table">
    <tr>
        <th>Action</th>
        <th>
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'CategoryID-asc'))?>">&#8743;</a>ID
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'CategoryID-desc'))?>">&#8744;</a>
        </th>
        <th>
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'CategoryName-asc'))?>">&#8743;</a>Category Name
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'CategoryName-asc'))?>">&#8744;</a>
        </th>
        <th>Sort Key</th>
        <th>
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'LastUpdate-asc'))?>">&#8743;</a>Last Update
            <a href="<?php echo $this->url('admin-store', array('action'=>'category', 'orderby'=>'LastUpdate-desc'))?>">&#8744;</a>
        </th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($list as $i => $category): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td><a href="<?php echo $this->url('admin-store', array('action'=>'edit-category', 'id'=>$category['CategoryID']))?>">Edit</a></td>
            <td><?php echo $category['CategoryID']; ?></td>
            <td><?php echo $category['CategoryName']; ?></td>
            <td><?php echo $category['SortKey']; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($category['LastUpdate'])); ?></td>
            <td><?php echo $category['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-order', 'action' => 'list', 'orderby'=>$orederBy));
?>