<div class="form-container">
    <h3>Edit Product</h3>
    <form method="post">
    <?php if(array_key_exists('Photo1', $product)):?>        
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Photo</label></div>
        <div>
            <?php if($product['Photo1']):?>
            <img src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $product['ProductID'], -8) . '.jpg' ?>" width="160" border="0"/>
            <?php else: ?>
            <img src="<?php echo $this->basePath() . '/images/product/placeholder7.png' ?>" width="160" border="0"/>
            <?php endif; ?>
        </div>
    </div>
    <?php endif;?>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>New Product Name</label></div>
        <div><input type="text" name="productName" class="text medium" value="<?php echo $product['ProductName']?>"/></div>
    </div>

    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Sort Key</label></div>
        <div><input type="text" name="sortKey" class="text small" value="<?php echo $product['SortKey']?>"/></div>
    </div>


    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'product'))?>" />
    </div>
    </form>
</div>