<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-store', array('action'=>'new-discountcode'))?>">Add New</a>
</div>

<table class="report-table" style="width: 120%">
    <tr>
        <th>Action</th>
        <th>&nbsp;&nbsp;ID&nbsp;&nbsp;<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'ID-asc'))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'ID-desc'))?>">&#8744;</a>
        </th>
        <th>Status<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'Status-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'Status-desc'))?>">&#8744;</a>
        </th>
        <th>Title<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountTitle-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountTitle-desc'))?>">&#8744;</a>
        </th>
        <th>Discount&nbsp;Code<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountCode-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountCode-desc'))?>">&#8744;</a>
        </th>
        <th>Order&nbsp;Minimum<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'OrderMinimum-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'OrderMinimum-desc'))?>">&#8744;</a>
        </th>
        <th>Type<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountType-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountType-desc'))?>">&#8744;</a>
        </th>
        <th>Discount<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountValue-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'DiscountValue-desc'))?>">&#8744;</a>
        </th>
        <th>Start&nbsp;Date<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'StartDate-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'StartDate-desc'))?>">&#8744;</a>
        </th>
        <th>End&nbsp;Date<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'EndDate-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'EndDate-desc'))?>">&#8744;</a>
        </th>
        <th>Last&nbsp;Update<br/>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'LastUpdate-asc'))?>">&#8743;</a>
            <a href="<?php echo $this->url('admin-store', array('action'=>'discountcode', 'orderby'=>'LastUpdate-desc'))?>">&#8744;</a>
        </th>
        <th>IP&nbsp;Address</th>
    </tr>
    <?php foreach ($list as $i => $discountcode): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-store', array('action'=>'edit-discountcode', 'id'=>$discountcode['DiscountCodeID']))?>">Edit</a>
                <a href="<?php echo $this->url('admin-store', array('action'=>'delete-discountcode', 'id'=>$discountcode['DiscountCodeID']))?>">Delete</a>
            </td>
            <td><?php echo $discountcode['DiscountCodeID']; ?><br/></td>
            <td><?php echo $discountcode['Status']?></td>
            <td><?php echo $discountcode['DiscountTitle']; ?></td>
            <td><?php echo $discountcode['DiscountCode']; ?></td>
            <td><?php echo $discountcode['OrderMinimum']; ?></td>
            <td><?php echo $discountcode['DiscountType']; ?></td>
            <td><?php echo $discountcode['DiscountValue']; ?></td>
            <td><?php echo date("m/d/Y",strtotime($discountcode['StartDate'])) ?></td>
            <td><?php echo date("m/d/Y",strtotime($discountcode['EndDate'])); ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($discountcode['LastUpdate'])); ?></td>
            <td><?php echo $discountcode['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-store', 'action' => 'discountcode', 'orderby'=>$orederBy));
?>