<div class="form-container">
    <h3>Edit Category</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="field-contianer clearfix">
        <?php $categoryName = $form->get('CategoryName'); ?>
        <div class="label-container left"><label><?php echo $categoryName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($categoryName); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $SortKey = $form->get('SortKey'); ?>
        <div class="label-container left"><label><?php echo $SortKey->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($SortKey); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $description = $form->get('HTML1'); ?>
        <div class="label-container left"><label><?php echo $description->getOption('label'); ?></label></div>
        <div><?php echo $this->formTextArea($description); ?></div>
    </div>
    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'category'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
