<td><?php echo $option['OptionID'] ?></td>
<td><?php echo $option['ProductName'] ?></td>
<td><?php echo $option['OldOptionName'] ?></td>
<td>
    <select class="option-category" name="category-<?php echo $option['OptionID'] ?>">
        <?php foreach ($categories as $category): ?>
            <option value="<?php echo $category['CategoryID'] ?>" <?php echo($category['CategoryID'] == $option['CategoryID']) ? 'selected' : null ?>>
                <?php echo $category['CategoryName'] ?>
            </option>
        <?php endforeach; ?>
    </select>
</td>
<td>
    <select class="option-group" name="optiongroup-<?php echo $option['OptionID'] ?>">
        <option value="0">Select option from list</option>
        <?php foreach ($option['optionGroups'] as $optionGroup): ?>
            <option value="<?php echo $optionGroup['OptionGroupID'] ?>" <?php echo($optionGroup['OptionGroupID'] == $option['GroupOptionID']) ? 'selected' : null ?>>
                <?php echo $optionGroup['OptionGroupName'] ?>
            </option>
        <?php endforeach; ?>
    </select>
</td>
<td>
    <select class="option-in-group" name="option-<?php echo $option['OptionID'] ?>">
        <option value="0">Select option value</option>
        <?php foreach ($option['optionsInGroup'] as $newOption): ?>
            <option value="<?php echo $newOption['OptionID'] ?>" <?php echo($newOption['OptionID'] == $option['OptionValueID']) ? 'selected' : null ?>>
                <?php echo $newOption['OptionName'] ?>
            </option>
        <?php endforeach; ?>
    </select>
</td>
<td><?php echo $option['SortKey']; ?></td>
<td><?php echo date("m/d/Y H:i:s", strtotime($option['LastUpdate'])) ?></td>
<td><?php echo $option['IPAddress']; ?></td>
