<div class="form-container" style="margin-bottom: 20px;">
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Select Category</label></div>
        <div>
            <select  name="category" class="product-category">
                <?php foreach($categories as $category):?>
                <option value="<?php echo $this->url('admin-store', array('action'=>'old-product', 'id'=>$category['CategoryID']))?>" <?php echo($category['CategoryID'] == $categoryId)? 'selected':null?>><?php echo $category['CategoryName']?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>

</div>

<table class="report-table">
    <tr>
        <th>Action</th>
        <th>Product&nbsp;ID</th>
        <th>Photo</th>
        <th>Product&nbsp;Name</th>
        <th>Sort Key</th>
        <th>Last&nbsp;Update</th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($list as $i => $product): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-store', array('action'=>'old-product-edit', 'id'=>$product['ProductID']))?>">Edit</a>
            </td>
            <td><?php echo $product['ProductID']?></td>
            <td>
                <?php if($product['Photo1']):?>
                <img src="<?php echo $this->basePath().'/images/product/'.substr('00000000'.$product['ProductID'],-8).'.jpg'?>" width="160" border="0"/>
                <?php else:?>
                <img src="<?php echo $this->basePath().'/images/product/placeholder7.png'?>" width="160" border="0"/>
                <?php endif;?>
                <?php echo $product['ProductDescription2']?>
            </td>
            <td>
                <b>New Product Name:</b><?php echo $product['ProductName']; ?><br/>
                <b>Old Product Name:</b><?php echo $product['OldProductName'];?>
            </td>
            <td><?php echo $product['SortKey']; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($product['LastUpdate']))?></td>
            <td><?php echo $product['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-store', 'action' => 'old-product', 'orderby'=>$orederBy));
?>

<script type="text/javascript">
$(function(){
  $(".product-category").change(function(){
    window.location= this.value
  });
});
</script>