<div class="form-container">
    <h3>Edit Old Product</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <?php if(array_key_exists('Photo1', $product)):?>        
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Photo</label></div>
        <div>
            <?php if($product['Photo1']):?>
            <img src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $product['ProductID'], -8) . '.jpg' ?>" width="160" border="0"/>
            <?php else: ?>
            <img src="<?php echo $this->basePath() . '/images/product/placeholder7.png' ?>" width="160" border="0"/>
            <?php endif; ?>
        </div>
    </div>
    <?php endif;?>
    
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>New Product Name:</label></div>
        <div style="padding: 5px 0;"><?php echo $product['ProductName']?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $OldProductName = $form->get('OldProductName'); ?>
        <div class="label-container left"><label><?php echo $OldProductName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OldProductName); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'old-product'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
