<table class="report-table">
    <tr>
        <th>ID#</th>
        <th style="color: red">Old&nbsp;Product</th>
        <th style="color: red">Old&nbsp;Option</th>
        <th style="color: #00AA00">New&nbsp;Category</th>
        <th style="color: #00AA00">New&nbsp;Option</th>
        <th style="color: #00AA00">View&nbsp;Option&nbsp;Value</th>
        <th>Sort Key</th>
        <th>Last&nbsp;Update</th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($productOptions as $i => $option): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>" id="<?php echo $option['OptionID']?>">
          <?php echo $this->partial('admin/store/old-option.phtml', array('option'=>$option, 'categories'=>$categories));?>
        </tr>
    <?php endforeach; ?>
</table>
