<div class="form-container">
    <h3>Edit Product</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('ProductID'));
    ?>
    <div class="field-contianer clearfix">
        <?php $OptionGroupName = $form->get('OptionGroupName'); ?>
        <div class="label-container left"><label><?php echo $OptionGroupName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OptionGroupName); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $OptionGroupDescription = $form->get('OptionGroupDescription'); ?>
        <div class="label-container left"><label><?php echo $OptionGroupDescription->getOption('label'); ?></label></div>
        <div class="left"><?php echo $this->formTextArea($OptionGroupDescription); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $PopupTitle = $form->get('PopupTitle'); ?>
        <div class="label-container left"><label><?php echo $PopupTitle->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($PopupTitle); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $SortKey = $form->get('SortKey'); ?>
        <div class="label-container left"><label><?php echo $SortKey->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($SortKey); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="proceedTo" type="hidden" name="proceedTo"/>
        <input class="button" type="submit" value="Save" />
        <input class="button optionList" type="Button" value="Save and Edit Value" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'option-group', 'id'=>$form->get('ProductID')->getValue()))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
<script>
    $('textarea').wysiwyg({'height':'900px'});
    $( ".datepicker" ).datepicker();
    $('.optionList').click(function(){
        $('.proceedTo').val('optionList');
        $(this).parents('form').submit();
    });
    
</script>