<div class="form-container" style="margin-bottom: 20px;">
    <div class="field-contianer clearfix">
        <img src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $product['ProductID'], -8) . '.jpg' ?>" width="160" border="0"/>
    </div>
</div>

<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-store', array('action'=>'new-optiongroup', 'id'=>$product['ProductID']))?>">Add New</a>&nbsp;
    <a href="<?php echo $this->url('admin-store', array('action'=>'edit-product', 'id'=>$product['ProductID']))?>">Edit Product</a>
</div>

<table class="report-table">
    <tr>
        <th>Action</th>
        <th>Optiont&nbsp;ID</th>
        <th>Product&nbsp;Name</th>
        <th>Description</th>
        <th>Popup&nbsp;Title</th>
        <th>Sort Key</th>
        <th>Last&nbsp;Update</th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($optionGroups as $i => $group): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-store', array('action'=>'edit-option-group', 'id'=>$group['OptionGroupID']))?>">Edit</a>
                <a href="<?php echo $this->url('admin-store', array('action'=>'delete-option-group', 'id'=>$group['OptionGroupID']))?>">Delete</a>
            </td>
            <td><?php echo $group['OptionGroupID']; ?></td>
            <td><?php echo $group['OptionGroupName']; ?></td>
            <td><?php echo $group['OptionGroupDescription']; ?></td>
            <td><?php echo $group['PopupTitle']; ?></td>
            <td><?php echo $group['SortKey']; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($group['LastUpdate']))?></td>
            <td><?php echo $group['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>