<div class="form-container">
    <h3>Edit Product</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('GroupOptionID'));
    ?>
    <div class="field-contianer clearfix">
        <?php $OptionName = $form->get('OptionName'); ?>
        <div class="label-container left"><label><?php echo $OptionName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OptionName); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $AddPrice = $form->get('AddPrice'); ?>
        <div class="label-container left"><label><?php echo $AddPrice->getOption('label'); ?></label></div>
        <div><?php echo '$'.$this->formText($AddPrice); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $PriceCheng = $form->get('PriceCheng'); ?>
        <div class="label-container left"><label><?php echo $PriceCheng->getOption('label'); ?></label></div>
        <div><?php echo '$'.$this->formText($PriceCheng); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $PriceLynd = $form->get('PriceLynd'); ?>
        <div class="label-container left"><label><?php echo $PriceLynd->getOption('label'); ?></label></div>
        <div><?php echo '$'.$this->formText($PriceLynd); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ByDefault = $form->get('ByDefault'); ?>
        <div class="label-container left"><label><?php echo $ByDefault->getOption('label'); ?></label></div>
        <div><?php echo $this->formSelect($ByDefault); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $SortKey = $form->get('SortKey'); ?>
        <div class="label-container left"><label><?php echo $SortKey->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($SortKey); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'option-value', 'id'=>$form->get('GroupOptionID')->getValue()))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
