<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-store', array('action'=>'new-option', 'id'=>$group['OptionGroupID']))?>">Add New Value</a>&nbsp;
    <a href="<?php echo $this->url('admin-store', array('action'=>'edit-option-group', 'id'=>$group['OptionGroupID']))?>">Edit Option</a>&nbsp;
    <a href="<?php echo $this->url('admin-store', array('action'=>'edit-product', 'id'=>$group['ProductID']))?>">Edit Product</a>
</div>

<table class="report-table">
    <tr>
        <th>Action</th>
        <th>ID #</th>
        <th>Name</th>
        <th>Add Price</th>
        <th>Cheng Price</th>
        <th>Lynd Price</th>
        <th>By Default</th>
        <th>Sort Key</th>
        <th>Last&nbsp;Update</th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($options as $i => $option): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-store', array('action'=>'edit-option', 'id'=>$option['OptionID']))?>">Edit</a>
                <a href="<?php echo $this->url('admin-store', array('action'=>'delete-option', 'id'=>$option['OptionID']))?>">Delete</a>
            </td>
            <td><?php echo $option['OptionID']; ?></td>
            <td><?php echo $option['OptionName']; ?></td>
            <td><?php echo $option['AddPrice']; ?></td>
            <td><?php echo $option['PriceCheng']; ?></td>
            <td><?php echo $option['PriceLynd']; ?></td>
            <td><?php echo $option['ByDefault']; ?></td>
            <td><?php echo $option['SortKey']; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($option['LastUpdate']))?></td>
            <td><?php echo $option['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>