<div class="form-container">
    <h3>Edit Category</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Product Name</label></div>
        <div><?php echo $product['ProductName']; ?></div>
    </div>

    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Photo</label></div>
        <div>
            <?php if($product['Photo1']):?>
            <img src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $product['ProductID'], -8) . '.jpg' ?>" width="160" border="0"/>
            <?php else: ?>
            <img src="<?php echo $this->basePath() . '/images/product/placeholder7.png' ?>" width="160" border="0"/>
            <?php endif; ?>
        </div>
    </div>
    <div class="field-contianer clearfix">
        <?php $productImage = $form->get('image-file'); ?>
        <div class="label-container left"><label><?php echo $productImage->getOption('label'); ?></label></div>
        <div><?php echo $this->formFile($productImage); ?></div>
        <?php echo $this->formElementErrors($productImage); ?>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Upload" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'product'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
<script>
     $(function() {
         $( ".datepicker" ).datepicker();
     });
</script>