<div class="form-container">
    <h3>Edit Product</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('CategoryID'));
    ?>
    <?php if(array_key_exists('Photo1', $product)):?>        
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Photo</label></div>
        <div>
            <?php if($product['Photo1']):?>
            <img src="<?php echo $this->basePath() . '/images/product/' . substr('00000000' . $product['ProductID'], -8) . '.jpg' ?>" width="160" border="0"/>
            <?php else: ?>
            <img src="<?php echo $this->basePath() . '/images/product/placeholder7.png' ?>" width="160" border="0"/>
            <?php endif; ?>
        </div>
    </div>
    <?php endif;?>
    <div class="field-contianer clearfix">
        <?php $OldProductID = $form->get('OldProductID'); ?>
        <div class="label-container left"><label><?php echo $OldProductID->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OldProductID); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $HideOnProductPage = $form->get('HideOnProductPage'); ?>
        <div class="label-container left"><label><?php echo $HideOnProductPage->getOption('label'); ?></label></div>
        <div><?php echo $this->formCheckBox($HideOnProductPage); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $ProductName = $form->get('ProductName'); ?>
        <div class="label-container left"><label><?php echo $ProductName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ProductName); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $VendorProductName = $form->get('VendorProductName'); ?>
        <div class="label-container left"><label><?php echo $VendorProductName->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($VendorProductName); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $ProductDescription = $form->get('ProductDescription'); ?>
        <div class="label-container left"><label><?php echo $ProductDescription->getOption('label'); ?></label></div>
        <div class="left"><?php echo $this->formTextArea($ProductDescription); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ProductDescription2 = $form->get('ProductDescription2'); ?>
        <div class="label-container left"><label><?php echo $ProductDescription2->getOption('label'); ?></label></div>
        <div class="left"><?php echo $this->formTextArea($ProductDescription2); ?></div>
    </div>
     
    <div class="field-contianer clearfix">
        <?php $ProductPrice1 = $form->get('ProductPrice1'); ?>
        <div class="label-container left"><label><?php echo $ProductPrice1->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ProductPrice1); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ShippingPrice1 = $form->get('ShippingPrice1'); ?>
        <div class="label-container left"><label><?php echo $ShippingPrice1->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ShippingPrice1); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ShippingPrice2 = $form->get('ShippingPrice2'); ?>
        <div class="label-container left"><label><?php echo $ShippingPrice2->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ShippingPrice2); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $HairCutPrice = $form->get('HairCutPrice'); ?>
        <div class="label-container left"><label><?php echo $HairCutPrice->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($HairCutPrice); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $FullCapPrice = $form->get('FullCapPrice'); ?>
        <div class="label-container left"><label><?php echo $FullCapPrice->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($FullCapPrice); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ChengFullCapPrice = $form->get('ChengFullCapPrice'); ?>
        <div class="label-container left"><label><?php echo $ChengFullCapPrice->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ChengFullCapPrice); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $LyndFullCapPrice = $form->get('LyndFullCapPrice'); ?>
        <div class="label-container left"><label><?php echo $LyndFullCapPrice->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($LyndFullCapPrice); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $ProductPriceCheng = $form->get('ProductPriceCheng'); ?>
        <div class="label-container left"><label><?php echo $ProductPriceCheng->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ProductPriceCheng); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $ProductPriceLynd = $form->get('ProductPriceLynd'); ?>
        <div class="label-container left"><label><?php echo $ProductPriceLynd->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($ProductPriceLynd); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $RatingImageUrl = $form->get('RatingImageUrl'); ?>
        <div class="label-container left"><label><?php echo $RatingImageUrl->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($RatingImageUrl); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $FeaturesUrl = $form->get('FeaturesUrl'); ?>
        <div class="label-container left"><label><?php echo $FeaturesUrl->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($FeaturesUrl); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $SortKey = $form->get('SortKey'); ?>
        <div class="label-container left"><label><?php echo $SortKey->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($SortKey); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="proceedTo" type="hidden" name="proceedTo"/>
        <input class="button" type="submit" value="Save" />
        <input class="button optionList" type="Button" value="Save and Edit Option" />
        <input class="button cancel" type="Button" value="Copy Product To.." href="<?php echo $this->url('admin-store', array('action'=>'copy-product', 'id'=>$product['ProductID']))?>" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'product'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
<script>
    $('textarea').wysiwyg({'height':'900px'});
    $( ".datepicker" ).datepicker();
    $('.optionList').click(function(){
        $('.proceedTo').val('optionList');
        $(this).parents('form').submit();
    });
    
</script>