<div class="form-container" style="margin-bottom: 20px;">
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Select Category</label></div>
        <div>
            <select  name="category" class="product-category">
                <?php foreach($categories as $category):?>
                <option value="<?php echo $this->url('admin-store', array('action'=>'product', 'id'=>$category['CategoryID']))?>" <?php echo($category['CategoryID'] == $categoryId)? 'selected':null?>><?php echo $category['CategoryName']?></option>
                <?php endforeach;?>
            </select>
        </div>
    </div>

</div>

<div class="form-container" style="margin: 20px 0 5px 0;">
    <a href="<?php echo $this->url('admin-store', array('action'=>'new-product', 'id'=>$categoryId))?>">Add New</a>
</div>

<table class="report-table">
    <tr>
        <th>Action</th>
        <th>Product&nbsp;ID
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductID-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductID-desc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Photo</th>
        <th>Product&nbsp;Name
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductName-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductName-asc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Price
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPrice1-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPrice1-asc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Cheng&nbsp;Price
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPriceCheng-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPriceCheng-asc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Lynd&nbsp;Price
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPriceLynd-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ProductPriceLynd-asc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Shipping&nbsp;Price
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ShippingPrice1-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'ShippingPrice1-asc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>Sort Key</th>
        <th>Last&nbsp;Update
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'LastUpdate-asc', 'id'=>$categoryId))?>">&#8743;</a>&nbsp;
            <a href="<?php echo $this->url('admin-store', array('action'=>'product', 'orderby'=>'LastUpdate-desc', 'id'=>$categoryId))?>">&#8744;</a>
        </th>
        <th>IP Address</th>
    </tr>
    <?php foreach ($list as $i => $product): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td>
                <a href="<?php echo $this->url('admin-store', array('action'=>'edit-product', 'id'=>$product['ProductID']))?>">Edit</a>
                <a href="<?php echo $this->url('admin-store', array('action'=>'product-photo', 'id'=>$product['ProductID']))?>">Upload&nbsp;Photo</a>
                <a href="<?php echo $this->url('admin-store', array('action'=>'delete-product', 'id'=>$product['ProductID']))?>">Delete</a>
            </td>
            <td>New ID # <?php echo $product['ProductID']; ?><br/>
                <?php echo ($product['OldProductID'] <> '')? 'Old ID#'.$product['OldProductID']:null?>
            </td>
            <td>
                <?php if($product['Photo1']):?>
                <img src="<?php echo $this->basePath().'/images/product/'.substr('00000000'.$product['ProductID'],-8).'.jpg'?>" width="160" border="0"/>
                <?php else:?>
                <img src="<?php echo $this->basePath().'/images/product/placeholder7.png'?>" width="160" border="0"/>
                <?php endif;?>
                <?php echo $product['ProductDescription2']?>
            </td>
            <td><?php echo $product['ProductName']; ?></td>
            <td><?php echo number_format($product['ProductPrice1'],2,'.',','); ?></td>
            <td><?php echo number_format($product['ProductPriceCheng'],2,'.',','); ?></td>
            <td><?php echo number_format($product['ProductPriceLynd'],2,'.',','); ?></td>
            <td><?php echo number_format($product['ShippingPrice1'],2,'.',','); ?></td>
            <td><?php echo $product['SortKey']; ?></td>
            <td><?php echo date("m/d/Y H:i:s",strtotime($product['LastUpdate']))?></td>
            <td><?php echo $product['IPAddress']; ?></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-store', 'action' => 'product', 'orderby'=>$orederBy));
?>

<script type="text/javascript">
$(function(){
  $(".product-category").change(function(){
    window.location= this.value
  });
});
</script>