<div class="page-title">Custom Hair Systems</div>

<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium">
<?php echo $category['HTML1']?>
</div>

<?php foreach($products as $product):?>
<div class="vertical-space-medium large left">
    <div class="small-medium left">
        <img width="200" class="white-border" src="<?php echo $this->basePath().'/images/product/'.substr('00000000' . $product['ProductID'], -8).'_large.jpg'; ?>" />
    </div>
    <div class="left" style="width: 330px;">
        <a class="content" href="/order/<?php echo $product['ProductID']?>"><?php echo $product['ProductName']?></a>
        <?php echo $product['ProductDescription']?>
        <div style="white-space:nowrap;">
        <a href="/faq"><img src="/images/buttonqa.png" alt="Q and A" name="Image82" border="0" height="25" width="100"></a>
        <a href="#" ><img src="/images/buttonfea.png" alt="Features" name="Image81" border="0" height="25" width="100"></a>
        <a href="/order/<?php echo $product['ProductID']?>"><img src="/images/buttonbuy.png" alt="Buy Now" name="Image83" border="0" height="25" width="100"></a>
        	</div>
    </div>
</div>
<?php endforeach;?>
