<div class="page-title"><?php echo $product['ProductName'] ?></div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>
<div class="vertical-space-medium large left">
    <div class="small white-border left">
        <img width="166" class="" src="<?php echo $this->basePath().'/images/product/'.substr('00000000' . $product['ProductID'], -8).'.jpg'; ?>" />
        <span class="image-title"><?php echo $product['ProductDescription2']?></span>
    </div>
    <div class="left left-space" style="width: 330px;">
        <a class="content" href="/product/<?php echo $product['ProductID']?>"><?php echo $product['ProductName']?></a>
        <?php echo $product['ProductDescription']?>
        <div class="small left">
            <p><b>Price : <?php echo $product['ProductPrice1']?></b><br/>
            <b>Shipping : <?php echo $product['ShippingPrice1']?></b></p>
        </div>
        
        <div style="white-space:nowrap;">
            <a href="<?php echo $this->url('order', array('action'=>'add', 'id'=>$product['ProductID']));?>"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
        </div>
    </div>
</div>
