<div class="box round">
    <?php $form = $this->form;
    $form->setAttribute('action', $this->url('admin-auth', array('action'=>'authenticate')));
    $form->prepare();
    echo $this->form()->openTag($form);?>

    <ul>
        <li>
            <?php $username = $form->get('username');?>
            <label><?php echo $username->getOption('label'); ?><span class="req">*</span></label>
            <div><?php echo $this->formText($username) ?></div>
            <?php echo $this->formElementErrors($username); ?>
        </li>
        <li>
            <?php $password = $form->get('password');?>
            <label><?php echo $password->getOption('label'); ?><span class="req">*</span></label>
            <div><?php echo $this->formPassword($password) ?></div>
            <?php echo $this->formElementErrors($password); ?>
        </li>
    </ul>
    <input type="submit" class="button" value="Login"/>
    <?php echo $this->form()->closeTag();?>
</div>
