<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('Hollywood Lace'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/style.css') 
                ->prependStylesheet($this->basePath() . '/css/jqueryslidemenu.css')?>
        
        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/jqueryslidemenu.js')
                ->prependFile($this->basePath() . '/js/common.js')
                ->prependFile($this->basePath() . '/js/jquery-ui-1.8.16.custom.min.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

    </head>
    <body>
        <div id="page-wrapper">
            <div id="page">
                <div id="header">
                    <div id="header-top"></div>
                    <div class="header-inner">
                        <div class="small-medium left">
                            <a href="/" title="Home" rel="home" id="logo">
                                <img height="82" src="<?php echo $this->basePath(); ?>/images/logo.png" alt="Home" />
                            </a>
                        </div>
                        <div id="header-middle" class="flat-list left" >
                            <img width="252" border="0" height="68" alt="hair systems and toupees for men" src="<?php echo $this->basePath() ?>/images/hq_hair_sysC.gif" title="Get hair from people who care." />
                            <ul>
                                <li><a class="normal" href="#">Order</a></li>
                                <li><a class="normal" href="#">Re-Order</a></li>
                                <li class="last"><a class="normal" href="#">Order Status</a></li>
                            </ul>
                        </div>
                        <div class="medium left">
                            <a href="mailto:support@hollywoodlace.com">
                                <img border="0" alt="Click Here to Email Support@hollywoodlace.com" src="<?php echo $this->basePath() ?>/images/phone.png"/>
                            </a>                            
                        </div>
                        <?php //print render($page['header']); ?>

                    </div>
                </div> <!-- /.section, /#header -->
                <div class="clearfix"></div>
                <?php echo $mainMenu;?>

                <div id="main-wrapper">
                    <div id="main" class="clearfix">
                        <div id="sidebar">
                            <div id="sidebar-first">
                                <ul>
                                    <li><a href="/static/supersilk">New! Super Silk</a></li>
                                    <li><a href="/static/superfine">Super Fine Swiss Lace</a></li>
                                    <li><a href="/static/thinskin">Invisible Thin Skin</a></li>
                                    <li><a href="/custom-hair">Custom Hair Systems</a></li>
                                    <li><a href="/static/duplicatehair">Duplicate Hair System</a></li>
                                    <li><a href="/static/stockhair">Stock Hair System</a></li>
                                    <li><a href="/static/afroamerican">African American</a></li>
                                    <li><a href="/static/basic">Basics</a></li>
                                    <li><a href="/static/accessories">Accessories</a></li>
                                    <li><a href="/order">Online Order Form</a></li>
                                </ul> 
                            </div>
                            <div id="sidebar-second" class="column sidebar">
                                <a href="">
                                    <img border="0" height="254" alt="hairpieces discount" src="<?php echo $this->basePath() ?>/images/sp_offer.jpg" />
                                </a>
                            </div>
                            <div id="sidebar-celebraty" class="column sidebar">
                                <form action="#" method="post">
                                    <div>
                                        <label>Your Name</label>
                                        <input name="name" type="text" class="field-small"/>
                                    </div>
                                    <div>
                                        <label>Your Email</label>
                                        <input name="email" type="text" class="field-small"/>
                                    </div>
                                    <div>
                                        <input name="email" type="checkbox" style="display: block; float: left; width: 11px; margin-top: 7px;"/>
                                        <label style="display: block;width: 180px"> I'm agree to receive Hollywoodlace.com emails</label>
                                    </div>
                                    <div>
                                        <input style="height:25px; width:170px; border:0px; display: block; padding-top: 13px" type="image" src="<?php echo $this->basePath() ?>/images/spacer.gif" name="order_now" value="" />
                                    </div>
                                    
                                </form>
                            </div>
                            <div class="column sidebar">
                                <span>
                                    <a href="http://upstream.where.com/jin/spotlight/track?pubid=1b18e5d110&amp;width=240&amp;placementtype=170x100&amp;refId=d8be6cd2-6bc6-4265-92fe-b0cacc7a1fbb&amp;platformid=0&amp;tz=0&amp;requestzip=null&amp;redirecturl=https%3A%2F%2Fwww.securecheckout.billmelater.com%2Fpaycapture-content%2Ffetch%3Fhash%3DAU826TU8%26content%3D%2Fbmlweb%2Fppwpsiw.html&amp;netid=CAMP_102600" target="_blank">
                                        <img width="170" height="100" border="0" src="http://upstream.where.com/jin/ad/spotlight/render?bsf=d2lkdGg9MTcwJmhlaWdodD0xMDAmdmlldz1DQU1QXzEwMjYwMCZuZXRpZD1DQU1QXzEwMjYwMCZw%0AdWJpZD0xYjE4ZTVkMTEwJnJlZmlkPWQ4YmU2Y2QyLTZiYzYtNDI2NS05MmZlLWIwY2FjYzdhMWZi%0AYiZhZGlkPW51bGwmdHJhY2s9dHJ1ZQ%3D%3D">
                                    </a>
                                </span>
                            </div>
                        </div><!-- /.section, /#sidebar-first -->
                        <div id="content" class="column">
                            <?php echo $this->content;?>
                        </div>

                    </div>
                    <div id="footer">
                        <a href="<?php echo $this->basePath() ?>">Home</a> | 
                        <a href="<?php echo $this->url('static', array('action'=>'aboutus')); ?>">About Us</a> | 
                        <a href="<?php echo $this->url('static', array('action'=>'contact')); ?>">Contact Us</a> | 
                        <a href="<?php echo $this->url('faq'); ?>">FAQ</a> | 
                        <a href="<?php echo $this->url('static', array('action'=>'termscondition')); ?>">Terms and Conditions</a> | 
                        <a href="#">Order Help</a> | 
                        <a href="<?php echo $this->url('order'); ?>">Order</a> | 
                        <a href="<?php echo $this->url('re-order'); ?>">Re-Order</a> | 
                        <a href="<?php echo $this->url('order', array('action'=>'status')); ?>">Check Status</a>
                    </div>
                </div>  


            </div>           
        </div> <!-- /#page, /#page-wrapper -->

        <?php echo $this->inlineScript() ?>
    </body>
</html>
