<div class="form-container">
    <form class="email-form" method="post" action="<?php echo $this->url('admin-order', array('action'=>'sent-buyer-email'));?>">
        <input type="hidden" name="email" value="<?php echo $cart['BillingEmail']?>" />
        <input type="hidden" name="id" value="<?php echo $cart['CartID']?>" />
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Subject :</label></div>
            <div><input type="text" class="long" name="subject" value="Hollywoodlace - Order number "<?php echo $cart['CartID'] ?>/></div>
        </div>
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Message :</label></div>
            <div>
                <textarea style="width: 500px" name="message" rows="10" >Hi, <?php echo $cart['BillingFirstName'] . ' ' . $cart['BillingLastName'].",\n\r \n\r \n\r"; ?>Hollywoodlace, Customer Service.
                </textarea>
            </div>
        </div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input class="button" type="submit" value="Send" />
            <input class="button dialog-close" type="button" value="Cancel" />
        </div>
    </form>
</div>
