<div class="form-container">
    <h3>Edit Order</h3>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>History</label></div>
        <div class="left"><?php echo 'Created on '.date('F d, Y',strtotime($added)).' ; last modified '.date('F d, Y',strtotime($updated))?></div>
    </div>
    <?php $form = $this->form;
          $form->prepare();
          echo $this->form()->openTag($form);?>
            <div class="field-contianer clearfix">
                <?php $firstName = $form->get('firstName');?>
                <div class="label-container left"><label><?php echo $firstName->getOption('label');?></label></div>
                <div class="left"><?php echo $this->formText($firstName); ?></div>
                
                <?php $lastName = $form->get('lastName');?>
                <div class="label-container left"><label class="second"><?php echo $lastName->getOption('label');?></label></div>
                <div class="left"><?php echo $this->formText($lastName); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $orderDate = $form->get('orderDate');?>
                <div class="label-container left"><label><?php echo $orderDate->getOption('label');?></label></div>
                <div><?php echo $this->formText($orderDate); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $orderNotes = $form->get('orderNotes');?>
                <div class="label-container left"><label><?php echo $orderNotes->getOption('label');?></label></div>
                <div><?php echo $this->formTextArea($orderNotes); ?></div>
            </div>
             
            <div class="field-contianer clearfix">
                <?php $discountCode = $form->get('discountCode');?>
                <div class="label-container left"><label><?php echo $discountCode->getOption('label');?></label></div>
                <div><?php echo $this->formText($discountCode); ?></div>
            </div>
    
            <div class="field-contianer clearfix">
                <?php $shippingMethod = $form->get('shippingMethod');?>
                <div class="label-container left"><label><?php echo $shippingMethod->getOption('label');?></label></div>
                <div><?php echo $this->formText($shippingMethod); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $referral = $form->get('referral');?>
                <div class="label-container left"><label><?php echo $referral->getOption('label');?></label></div>
                <div><?php echo $this->formText($referral); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $summary = $form->get('summary');?>
                <div class="label-container left"><label><?php echo $summary->getOption('label');?></label></div>
                <div><?php echo $this->formTextArea($summary); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $status = $form->get('status');?>
                <div class="label-container left"><label><?php echo $status->getOption('label');?></label></div>
                <div><?php echo $this->formSelect($status); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $note = $form->get('note');?>
                <div class="label-container left"><label><?php echo $note->getOption('label');?></label></div>
                <div><?php echo $this->formText($note); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $deliveryDate = $form->get('deliveryDate');?>
                <div class="label-container left"><label><?php echo $deliveryDate->getOption('label');?></label></div>
                <div><?php echo $this->formText($deliveryDate); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $details = $form->get('details');?>
                <div class="label-container left"><label><?php echo $details->getOption('label');?></label></div>
                <div><?php echo $this->formTextArea($details); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $flag = $form->get('flag');?>
                <div class="label-container left"><label><?php echo $flag->getOption('label');?></label></div>
                <div><?php echo $this->formText($flag); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $reorder = $form->get('reorder');?>
                <div class="label-container left"><label><?php echo $reorder->getOption('label');?></label></div>
                <div class="radio"><?php echo $this->formSelect($reorder); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $stockSystem = $form->get('stockSystem');?>
                <div class="label-container left"><label><?php echo $stockSystem->getOption('label');?></label></div>
                <div class="radio"><?php echo $this->formSelect($stockSystem); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $subTotal = $form->get('subTotal');?>
                <div class="label-container left"><label><?php echo $subTotal->getOption('label');?></label></div>
                <div><?php echo $this->formText($subTotal); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $tax = $form->get('tax');?>
                <div class="label-container left"><label><?php echo $tax->getOption('label');?></label></div>
                <div><?php echo $this->formText($tax); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $discountedPrice = $form->get('discountedPrice');?>
                <div class="label-container left"><label><?php echo $discountedPrice->getOption('label');?></label></div>
                <div><?php echo $this->formText($discountedPrice); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $shipping = $form->get('shipping');?>
                <div class="label-container left"><label><?php echo $shipping->getOption('label');?></label></div>
                <div><?php echo $this->formText($shipping); ?></div>
            </div>
            
            <div class="field-contianer clearfix">
                <?php $total = $form->get('total');?>
                <div class="label-container left"><label><?php echo $total->getOption('label');?></label></div>
                <div><?php echo $this->formText($total); ?></div>
            </div>
    
            <h3>Billing Informaton:</h3>
            <fieldset>
                <div class="field-contianer clearfix">
                    <?php $billingFirstName = $billingForm->get('billingFirstName');?>
                    <div class="label-container left"><label><?php echo $billingFirstName->getOption('label');?></label></div>
                    <div class="left"><?php echo $this->formText($billingFirstName); ?></div>

                    <?php $billingLastName = $billingForm->get('billingLastName');?>
                    <div class="label-container left"><label class="second"><?php echo $billingLastName->getOption('label');?></label></div>
                    <div class="left"><?php echo $this->formText($billingLastName); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingCountry = $billingForm->get('billingCountry'); ?>
                    <div class="label-container left"><label><?php echo $billingCountry->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formSelect($billingCountry); ?></div>
                </div>

                <div class="field-contianer state-container clearfix">
                    <?php $billingState = $billingForm->get('billingState'); ?>
                    <span><?php echo $billingState->getOption('label'); ?></span>
                    <?php 
                    $billingStateName = $billingForm->get('billingStateName');
                    echo $this->formSelect($billingState); 
                    echo $this->formText($billingStateName);
                    ?>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingAddress = $billingForm->get('billingAddress'); ?>
                    <div class="label-container left"><label><?php echo $billingAddress->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($billingAddress); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingCity = $billingForm->get('billingCity'); ?>
                    <div class="label-container left"><label><?php echo $billingCity->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($billingCity); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingZip = $billingForm->get('billingZip'); ?>
                    <div class="label-container left"><label><?php echo $billingZip->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($billingZip); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingPhone = $billingForm->get('billingPhone'); ?>
                    <div class="label-container left"><label><?php echo $billingPhone->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($billingPhone); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $billingEmail = $billingForm->get('billingEmail'); ?>
                    <div class="label-container left"><label><?php echo $billingEmail->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($billingEmail); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $cCTypeID = $form->get('cCTypeID'); ?>
                    <div class="label-container left"><label><?php echo $cCTypeID->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formSelect($cCTypeID); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $cCNumber = $form->get('cCNumber'); ?>
                    <div class="label-container left"><label><?php echo $cCNumber->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($cCNumber); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $cCExpMonth = $form->get('cCExpMonth'); ?>
                    <div class="label-container left"><label><?php echo $cCExpMonth->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($cCExpMonth); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $cCExpYear = $form->get('cCExpYear'); ?>
                    <div class="label-container left"><label><?php echo $cCExpYear->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($cCExpYear); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $cCCode = $form->get('cCCode'); ?>
                    <div class="label-container left"><label><?php echo $cCCode->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($cCCode); ?></div>
                </div>
            </fieldset>
            
            <h3>Shipping Informaton:</h3>
            <fieldset>
                <div class="field-contianer clearfix">
                    <?php $shippingFirstName = $billingForm->get('shippingFirstName');?>
                    <div class="label-container left"><label><?php echo $shippingFirstName->getOption('label');?></label></div>
                    <div class="left"><?php echo $this->formText($shippingFirstName); ?></div>

                    <?php $shippingLastName = $billingForm->get('shippingLastName');?>
                    <div class="label-container left"><label class="second"><?php echo $shippingLastName->getOption('label');?></label></div>
                    <div class="left"><?php echo $this->formText($shippingLastName); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingCountry = $billingForm->get('shippingCountry'); ?>
                    <div class="label-container left"><label><?php echo $shippingCountry->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formSelect($shippingCountry); ?></div>
                </div>

                <div class="field-contianer state-container clearfix">
                    <?php $shippingState = $billingForm->get('shippingState'); ?>
                    <span><?php echo $shippingState->getOption('label'); ?></span>
                    <?php 
                    $shippingStateName = $billingForm->get('shippingStateName');
                    echo $this->formSelect($shippingState); 
                    echo $this->formText($shippingStateName); 
                    ?>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingAddress = $billingForm->get('shippingAddress'); ?>
                    <div class="label-container left"><label><?php echo $shippingAddress->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($shippingAddress); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingCity = $billingForm->get('shippingCity'); ?>
                    <div class="label-container left"><label><?php echo $shippingCity->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($shippingCity); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingZip = $billingForm->get('shippingZip'); ?>
                    <div class="label-container left"><label><?php echo $shippingZip->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($shippingZip); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingPhone = $billingForm->get('shippingPhone'); ?>
                    <div class="label-container left"><label><?php echo $shippingPhone->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($shippingPhone); ?></div>
                </div>

                <div class="field-contianer clearfix">
                    <?php $shippingEmail = $billingForm->get('shippingEmail'); ?>
                    <div class="label-container left"><label><?php echo $shippingEmail->getOption('label'); ?></label></div>
                    <div class="left"><?php echo $this->formText($shippingEmail); ?></div>
                </div>
            </fieldset>
            
            <h3>Fulfillment</h3>
            <div class="field-contianer clearfix">
                <?php $vendor = $form->get('vendor'); ?>
                <div class="label-container left"><label><?php echo $vendor->getOption('label'); ?></label></div>
                <div class="left"><?php echo $this->formSelect($vendor); ?></div>
            </div>
            <div class="field-contianer clearfix">
                <?php $exported = $form->get('exported'); ?>
                <div class="label-container left"><label><?php echo $exported->getOption('label'); ?></label></div>
                <div class="left"><?php echo $this->formSelect($exported); ?></div>
            </div>
            
            <div class="field-contianer clearfix"></div>
            <div class="field-contianer clearfix"></div>
            <div class="field-contianer clearfix" style="text-align: center">
                <input class="button" type="submit" value="Save" />
                <input class="button" type="Button" value="Cancel" />
                <input class="button cancel" type="Button" value="Copy to new order...." href="<?php echo $this->url('admin-order', array('action'=>'reorder', 'id'=>$id))?>" />
            </div>
    <?php echo $this->form()->closeTag();?>
</div>