
<span class="content-heading">Overview</span>
<ul class="bulet-list">
    <li>Use the menu to manage your Orders, Discount Codes, and Admins.</li>
</ul>

<span class="content-heading">Orders</span>
<ul class="bulet-list">
    <li>Simply add orders and fill out the fields presented.</li>
</ul>

<span class="content-heading">Discount Codes</span>
<ul class="bulet-list">
    <li>Simply add codes and fill out the fields presented.</li>
</ul>

<span class="content-heading">Admins</span>
<ul class="bulet-list">
    <li>Simply add and fill out the fields presented.</li>
</ul>

<span class="content-heading">Maintenance</span>
<ul class="bulet-list">
    <li>Backup database.</li>
    <li>Restore database.</li>
    <li>It is recommended that you backup your data periodically, especially before any batch editing operations.</li>
</ul>
