<table class="report-table">
    <tr>
        <th>
            <a href="<?php echo $this->url('admin-order', array('action'=>'list', 'orderby'=>'BillingFirstName-asc'))?>">&#8743;</a>Name
            <a href="<?php echo $this->url('admin-order', array('action'=>'list', 'orderby'=>'BillingFirstName-desc'))?>">&#8744;</a>
        </th>
        <th>
            <a href="<?php echo $this->url('admin-order', array('action'=>'list', 'orderby'=>'CartId-asc'))?>">&#8743;</a>Order Id
            <a href="<?php echo $this->url('admin-order', array('action'=>'list', 'orderby'=>'CartId-desc'))?>">&#8744;</a>
        </th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <?php foreach ($list as $i => $order): ?>
        <tr class="<?php echo ($i % 2 == 0) ? '' : 'odd'; ?>">
            <td><?php echo $order['BillingFirstName'] . ' ' . $order['BillingLastName']; ?></td>
            <td><?php echo $order['CartID']; ?></td>
            <td>Active</td>
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'edit', 'id'=>$order['CartID']));?>">Edit</td>
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'delete', 'id'=>$order['CartID']));?>">Delete</a></td>
        </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl($list, 'Sliding', 'layout/pagination_control', array('route' => 'admin-order', 'action' => 'list', 'orderby'=>$orederBy));
?>