<div class="form-container">
    <h3>Order Report</h3>
    <?php $form = $this->form;$form->prepare();?>
    <form method="post" action="<?php echo $this->url('admin-order', array('action'=>'search'))?>">
    <div class="field-contianer clearfix">
        <div class="label-container left"><input type="radio" name="searchDate" value="no" class="select-date-option" <?php echo($searchDate == 'no')? 'checked':null?>/></div>
        <div class="label-container left"><label>Show All Dates</label></div>
    </div>
    <div class="field-contianer clearfix">
        <?php $startDate = $form->get('startDate');?>
        <div class="label-container left"><input type="radio" name="searchDate" value="yes" class="select-date-option"  <?php echo($searchDate == 'yes')? 'checked':null?>/><label class="second">From</label></div>
        <div class="left"><?php echo $this->formText($startDate); ?></div>
        
        <?php $endDate = $form->get('endDate');?>
        <div class="label-container left"><label class="second">To</label></div>
        <div class="left"><?php echo $this->formText($endDate); ?></div>
    </div>
        
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Customer First Name</label></div>
                <?php $firstName = $form->get('firstName');?>
                <div class="left"><?php echo $this->formText($firstName); ?></div>
                
                <div class="label-container left"><label class="second">Last Name</label></div>
                <?php $lastName = $form->get('lastName');?>
                <div class="left"><?php echo $this->formText($lastName); ?></div>
            </div>
        
        <div class="field-contianer clearfix">
                <?php $orderNo = $form->get('orderNo');?>
                <div class="label-container left"><label>Order Number</label></div>
                <div><?php echo $this->formText($orderNo); ?></div>
            </div>
        
        <div class="field-contianer clearfix">
                <div class="label-container left"><label>Export Status</label></div>
                <?php $exportStatus = $form->get('exportStatus');?>
                <div><?php echo $this->formSelect($exportStatus); ?></div>
            </div>
         <div class="field-contianer clearfix">
                <?php $vendor = $form->get('vendor');?>
                <div class="label-container left"><label>Vendor</label></div>
                <div><?php echo $this->formSelect($vendor); ?></div>
            </div>
        <div class="field-contianer clearfix">
            <?php $displayMail = $form->get('displayMail');?>
            <?php $displayUnsentPaid = $form->get('displayUnsentPaid');?>
            <?php $displayStock = $form->get('displayStock');?>
            <div class="label-container left"><label>&nbsp;</label></div>
                <div>
                    <?php echo $this->formCheckBox($displayMail); ?> Display Will Mail In Sample
                    <?php echo $this->formCheckBox($displayUnsentPaid); ?> Display Paid Not Sent
                    <?php echo $this->formCheckBox($displayStock); ?> Display Stock System
                </div>
            </div>
        
        <div class="field-contianer clearfix">
            <?php $displayCustomSystem = $form->get('displayCustomSystem');?>
            <?php $displayOnlyProduct = $form->get('displayOnlyProduct');?>
            <?php $suppliesSent = $form->get('suppliesSent');?>
            <div class="label-container left"><label>&nbsp;</label></div>
                <div>
                    <?php echo $this->formCheckBox($displayCustomSystem); ?> Display Custom System
                    <?php echo $this->formCheckBox($displayOnlyProduct); ?> Display Products Only 	
                    <?php echo $this->formCheckBox($suppliesSent); ?> Supplies Sent
                </div>
            </div>
        <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="field-contianer clearfix" style="text-align: center">
                <input class="button" type="submit" value="Show Orders" />
            </div>
            
    </form>
</div>
<br/>
<input type="button" value="Delete Selected" class="multiple-delete"/>
<table style="margin-top: 10px" class="report-table" cellspacing="1" cellpadding="2" border="0">
    <tr>
        <th>Select</th>
        <th>Oder ID</th>
        <th>&nbsp;</th>
        <th>Order Date</th>
        <th>Email</th>
        <th>Name</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Order Total</th>
        <th>Payment Method</th>
        <th>Reorder</th>
        <th>Sent</th>
        <th>Vendor</th>
        <th>Vendor Email</th>
        <th>Action</th>
        <th>Supplies Sent</th>
        <th>Sample Received</th>
        <th>Stock Sent</th>
        <th>Gross profit</th>
        <th>% Per Order</th>
    </tr>
    <?php 
    $totalPrice = 0;
    $totalTax = 0;
    $totalGrossNet = 0;
    if(count($data) > 0):?>
    <?php foreach($data as $cart):?>
        <tr id="<?php echo $cart['CartID']?>" class="<?php echo($cart['StockSent']=='Y' || $cart['SuppliesSent']=='Y' || ($cart['MessageToVendor']!='' && $cart['Vendor']!=''))? 'data-green':'data-gray'?>">
            <td><input class="table-row" type="checkbox" name="cartIds[]" value ="<?php echo $cart['CartID']?>" /></td>
            <td><a href="<?php echo $this->url('admin-order', array('action'=>'user-report', 'id'=>$cart['CartID']));?>"><?php echo $cart['CartID']?></a></td>
            <td>
                <?php if($cart['notAccessoriesCount']==0 && ($cart['accessoriesCount']>0 || $cart['SuppliesSent']=='Y' || $cart['Vendor']=='Supplies')):?>
                <img src="/images/accessories.jpg" width="25" height="25" border="0" />
                <?php else:?>&nbsp;
                <?php endif;?>
            </td>
            <td><?php echo str_replace(" ","<br>",date("m/d/Y H:i:s",strtotime($cart['Added'])))?></td>
            <td><a class="email-to" href="<?php echo $this->url('admin-order', array('action'=>'buyer-email', 'id'=>$cart['CartID']));?>">Send</a></td>
            <td>
                <a href="<?php echo $this->url('admin-order', array('action'=>'edit', 'id'=>$cart['CartID']));?>">
                <?php echo $cart['BillingFirstName'] . ' ' . $cart['BillingLastName']; ?>
                </a>
            </td>
            <td><?php echo $cart['VendorPriority']; ?></td>
            <td>
                <?php
                if($cart['CartStatusID']==0){ echo '<span style="color:#AAAAAA">New</span>';$sent='No';}
                elseif($cart['CartStatusID']==1){echo '<span style="color:#FF0000">Paid</span>';$sent='No';}
                elseif($cart['CartStatusID']==2){echo '<span style="color:#00AA00">Shipped</span>';$sent='Yes';}
                elseif($cart['CartStatusID']==3){echo '<span style="color:#0000AA">Cancelled</span>';$sent='No';}
                else{ echo "Unknown";}
                ?>
            </td>
            <td><?php echo '$'.number_format($cart['PriceTotal'],2,'.',',')?></td>
            <td><?php echo $cart['PayMethod']?></td>
            <td><?php echo ($cart['Reorder'] == 'Y')? 'Yes':'No'?></td>
            <td><?php echo $sent?></td>
            <td>
                <select id ="vendor-<?php echo $cart['CartID']?>" class="vendor-list">
                    <?php foreach(array('0'=>'Select', 'Lynd'=>'Lynd', 'Cheng'=>'Cheng') as $key=>$value):?>
                    <option value="<?php echo $key?>" <?php echo($value==$cart['Vendor'])? 'selected':null?>><?php echo $value?></option>
                    <?php endforeach;?>
                </select>
            </td>
            <td>
                <?php if($cart['Vendor'] != '' && $cart['MessageToVendor'] != ''):?>
                <a class="message-to-vendor" href="#"><?php echo $cart['Vendor']?></a>
                <?php endif;?>
            </td>
            <td>
                <a class="delete-order" href="#delel">Delete</a>&nbsp;&nbsp;<a name="600-550" class="email-to" href="<?php echo $this->url('admin-order', array('action'=>'vendor-email', 'id'=>$cart['CartID']));?>">Send</a>
            </td>
            <td><input class="cart-flag" type="checkbox" name="SuppliesSent-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['SuppliesSent']== 'Y')? 'checked':null?>/></td>
            <td>
                <?php if(strpos(strtolower($cart['OrderTXT2']),strtolower('Will Mail'))>0 ||strpos(strtolower($cart['OrderTXT2']),strtolower('Will call'))>0 ||
                       strpos(strtolower($cart['OrderTXT2']),strtolower('willmail'))>0 || strpos(strtolower($cart['OrderTXT2']),strtolower('willcall'))>0):?>
                <input class="cart-flag" type="checkbox" name="SampleReceived-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['SampleReceived']=='Y')?'checked':null?>/>
                <?php else:?>&nbsp<?php endif;?>
            </td>
            <td>
                <?php if($cart['StockSystem']=='Y' || $cart['StockSent']=='Y' || strpos(strtolower($cart['OrderTXT2']),'Stock System')>0):?>
                <input class="cart-flag" type="checkbox" name="StockSent-<?php echo $cart['CartID']?>" value="Y" <?php echo($cart['StockSent']=='Y')?'checked':null?>/>
                <?php else:?>&nbsp<?php endif;?>
            </td>
            <td><?php echo '$'.number_format($cart['prices']['grossProfit'],2,'.',',')?></td>
            <td><?php echo $cart['prices']['grossProfitPercent'].'%'?></td>
        </tr>
    <?php 
    $totalPrice = $totalPrice + $cart['PriceTotal'];
    $totalTax = $totalTax + $cart['Tax'];
    $totalGrossNet = $totalGrossNet + $cart['prices']['grossProfit'];
    endforeach;?>    
    <?php else:?>
    <tr>
        <td colspan="19"> No Data Available</td>
    </tr>
    <?php endif;?>
</table>

<?php
$totalCarts = count($data);
$grossPerOrder = ($totalCarts)? $totalPrice/$totalCarts:0;
$grossProfitPerOrder = ($totalCarts)? $totalGrossNet/$totalCarts:0;
$percentCost = ($grossPerOrder)?(($grossPerOrder - $grossProfitPerOrder)/$grossPerOrder)*100:0;
?>
<table style="background-color:#CCCCCC; font-weight:Bold; width: 100%; font-size: 11px" class="report-table" cellpadding="5" cellspacing="1" border="0">
    <tr>
        <th>Gross Sales</th>
        <th>Tax Total</th>
        <th>Gross Cost</th>
        <th>Gross Margin</th>
        <th>Gross Per Order</th>
        <th>Gross Profit<br>Per Order</th>
        <th>Gross Net<br>Percentage</th>
        <th>Sales</th>
    </tr>
    <tr>
        <td><?php echo '$'.number_format($totalPrice,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalTax,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalPrice - $totalGrossNet,2,'.',',')?></td>
        <td><?php echo '$'.number_format($totalGrossNet,2,'.',',')?></td>
        <td><?php echo '$'.number_format($grossPerOrder,2,'.',',')?></td>
        <td><?php echo '$'.number_format($grossProfitPerOrder,2,'.',',')?></td>
        <td><?php echo number_format($percentCost,2,'.',',').'%'?></td>
        <td><?php echo $totalCarts?></td>
    </tr>
</table>
<div id="email-box" title="Mail Box"></div>
 <script>
     $(function() {
         $( ".datepicker" ).datepicker();
         
        $("#email-box").dialog({
            autoOpen: false,
            height: 600,
            width: "auto",
            position:[400, 50],
            modal: true
        });
     });
</script>