<div class="form-container">
    <h3>Email Sent to : &nbsp;<?php echo $cart['SentToVendorName'].'('.$cart['SentToVendorEmail'].')'; ?></h3>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Sent :</label></div>
        <div><?php echo $cart['VendorMessageDate']; ?></div>
    </div>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>To :</label></div>
        <div><?php echo $cart['SentToVendorEmail']; ?></div>
    </div>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>From :</label></div>
        <div>hollywoodlaceorders@yahoo.com</div>
    </div>
    <div class="field-contianer clearfix">
        <div class="label-container left"><label>Subject :</label></div>
        <div><?php echo $cart['SubjectToVendor']; ?></div>
    </div>
    <div class="field-contianer clearfix">
        <p><?php echo str_replace(chr(10),"<br>",$cart['MessageToVendor'])?></p>
    </div> 
</div>
