<div class="form-container">
    <form class="email-form" method="post" action="<?php echo $this->url('admin-order', array('action'=>'sent-vendor-email'));?>">
        <input type="hidden" name="id" value="<?php echo $cart['CartID']?>" />
        <input type="hidden" name="email" value="<?php echo $cart['BillingEmail']?>" />
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Production Time :</label></div>
            <div>
                <select name="priority">
                    <option value="Standard">Standard</option>
                    <option value="Rush">Rush</option>
                    <option value="Super Rush">Super Rush</option>
                </select>
            </div>
        </div>
        
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Vendor :</label></div>
            <div>
                <select name="sentToVendor">
                    <option value="SunColorHair.com">SunColorHair.com</option>
                    <option value="HaiChuanHair.com">HaiChuanHair.com</option>
                    <option value="Sino">Sino</option>
                </select>
            </div>
        </div>
        
        <div class="field-contianer clearfix">
            <div class="label-container left"><label>Message :</label></div>
            <div>
                <textarea style="width: 500px" name="message" rows="20" ><?php echo $summeryText; ?></textarea>
            </div>
        </div>
        <div class="field-contianer clearfix" style="text-align: center">
            <input class="button" type="submit" value="Send" />
            <input class="button dialog-close" type="button" value="Cancel" />
        </div>
    </form>
</div>
