<div class="vertical-space-medium">
    <form method="post" action="" >
        <fieldset>
            <legend class="yellow">Customer Login</legend>
            <label>Enter the e-mail address you used when making your previous orders.</label>
            <label>
                <span>Email :</span>
                <input type="text" name="email" class="inputl-medium" />
            </label>
            <label>
                <input type="submit" name="submit" class="button" value="Login"/>
            </label>
        </fieldset>
    </form>
</div>
