<div id="top-option" class="left flat-list">
    <div class="left">
        <span class="white-bold left">OPTIONS :</span>
        <ul>
            <li><a class="content" href="<?php echo $this->url('custom-hair')?>">Hair System</a></li>
            <li><a class="content" href="/static/basic">Basics</a></li>
            <li><a class="content" href="/static/haircolor">Color</a></li>
            <li><a class="content" href="/static/wavecurl">Wave/Curl</a></li>
            <li><a class="content" href="/static/hairdensity">Density</a></li>
            <li><a class="content" href="/static/hairstyle">Style</a></li>
            <li><a class="content" href="/static/hairtypes">Types</a></li>
            <li class="last"><a class="content" href="/static/basesizing">Fitting</a></li>
        </ul>
    </div>
    <div class="left">
        <span class="white-bold left">FAQs :</span>
        <ul>
            <li><a class="content" href="/faq/general">General Question</a></li>
            <li><a class="content" href="/faq/attachment">Attachment & Removal</a></li>
            <li><a class="content" href="/faq/fitting">Fitting & Sizing</a></li>
            <li><a class="content" href="/faq/systemcare">System Care</a></li>
            <li class="last"><a class="content" href="/static/accessories">Accessories</a></li>
        </ul>
    </div>
</div>
