<div id="check-status" class="vertical-space-medium">
    <?php foreach($carts as $cart):?>
    <div class="large">
        <p class="description" style="margin-top: 11px">
            Order ID # <b><?php echo $cart['CartID']?></b> &nbsp;Order Date # <?php echo date('m/d/Y', strtotime($cart['Added']))?>
            &nbsp;Name # <b><?php echo $cart['BillingFirstName'].' '.$cart['BillingLastName']?></b><br/>
        </p>
        <div class="clearfix"></div>
        <div class="large left white-border">
            <div class="medium left border-right"><p class="white-bold center">Item</p></div>
            <div class="left" style="width: 140px; height: inherit"><p class="center white-bold">Quantity</p></div>
            <div class="left" style="width: 140px"><p class="center white-bold">Action</p></div>        
        </div>
        <?php foreach($cart['products'] as $key=>$product):?>
        <div class="large left white-border">
            <?php if($cart['Imported'] == 'Y'):?>
            <div class="medium left border-right" style="padding: 10px 0px">
                <P><?php echo $product['description']?></p>
            </div>
            <div class="left" style="width: 140px;"><p class="center"><?php echo $product['quantity']?></p></div>
            <div class="left center" style="width: 140px"><a class="content" href="<?php echo $this->url('re-order', array('action'=>'old','id'=>$cart['CartID'].'-'.$key))?>">Re-order</a></div>
            <?php else:?>
            <div class="medium left border-right" style="padding: 10px 0px">
                <P><span class="special-sub-title">Item Name : </span><?php echo $product['CartProductName'] ?></p>
                <?php foreach($product['options'] as $option):?>
                <P><span class="special-sub-title"><?php echo $option['OptionGroupName'] ?> : </span><?php echo $option['OptionName'] ?></p>
                <?php endforeach;?>
                <p class="clearfix"></p>
                <?php if ($product['CategoryID'] == (7 || 8)): ?>
                    <?php if ($product['ProfessionalStyle'] == 'Y') : ?>
                        <P><span class="special-sub-title">A professional hair cut and style : </span><?php echo $product['ExtraPrice1'] ?></p>
                        <P><span class="special-sub-title">Front Length : </span><?php echo($product['FrontLengthText'] == '') ? $product['FrontLength'] : $product['FrontLengthText'] . ' inches' ?></p>
                        <P><span class="special-sub-title">Side Length : </span><?php echo($product['SideLengthText'] == '') ? $product['SideLength'] : $product['SideLengthText'] . ' inches' ?></p>
                        <P><span class="special-sub-title">Back Length : </span><?php echo($product['BackLengthText'] == '') ? $product['BackLength'] : $product['BackLengthText'] . ' inches' ?></p>
                        <P><span class="special-sub-title">Top Length : </span><?php echo($product['TopLengthText'] == '') ? $product['TopLength'] : $product['TopLengthText'] . ' inches' ?></p>
                    <?php endif; ?>
                    <p class="clearfix"></p>
                    <?php if ($product['FullCap'] == 'Y') : ?>
                        <P><span class="special-sub-title">Full Cap : </span><?php echo $product['ExtraPrice2'] ?></p>
                        <P><span class="special-sub-title">Measurement 1 : </span><?php echo $product['Measurement1'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 2 : </span><?php echo $product['Measurement2'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 3 : </span><?php echo $product['Measurement3'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 4 : </span><?php echo $product['Measurement4'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 5 : </span><?php echo $product['Measurement5'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 6 : </span><?php echo $product['Measurement6'] . ' inches- Head Circumference' ?></p>
                        <P><span class="special-sub-title">Measurement 7 : </span><?php echo $product['Measurement7'] . ' inches- Head Circumference' ?></p>
                    <?php endif; ?>
                <?php endif; ?>
                <p class="clearfix"></p>                                
            </div>
            <div class="left" style="width: 140px"><p class="center"><?php echo $product['ProductQty']?></p></div>
            <div class="left center" style="width: 140px"><a class="content" href="<?php echo $this->url('re-order', array('action'=>'new','id'=>$product['CartProductID']))?>">Re-order</a></div>
            <?php endif;?>        
        </div>
        <?php endforeach;?>
    </div>
    <div class="clearfix"></div>
    <?php endforeach;?>
</div>
