<div class="page-title">Hair System Basics</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium question">
    <span>Why Buy Your Hair System From HollywoodLace Versus Others?</span>
    <p>All our Lace and Skin Hair Systems consist of the finest materials, single strand ventilation, bleached knots, 
        and a transitional density for realistic appearance. Finally, we apply a weightless sealant on Lace hair systems to provide more durability, 
        less hair pull through, and longer adhesion. 
    </p>
</div>
<div class="vertical-space-medium left">
    <div class="medium left">
        <span class="image-title">KNOTS</span>
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/knots.jpg" />
    </div>
    <div class="medium left left-space">
        <span class="image-title">INIVISIBLE KNOTS</span>
        <img class="white-border" width="250" height="127" alt="Super Silk Before" src="<?php echo $this->basePath(); ?>/images/noknots11.jpg" />
    </div>
    
</div>
<div class="clearfix"></div>
<div class="vertical-space-medium question">
    <span>Do you use Real Human Hair</span>
    <p>Yes! We use the highest quality Human Remy Hair by default. We do have other hair available at your request on the order form. 
        In addition to our Human Remy Hair We offer Asian Hair, Afro Hair, Synthetic, and Virgin European.</p>
</div>
<div class="vertical-space-medium question">
    <span>Why is your company so affordable versus some others? Is your quality as good as those who charge $499, $699, $899 per hairpiece?</span>
    <p>We have heard this question many times over the years. The answer is we want to make wearing a good quality hairpiece available to everyone and Yes. 
        Our quality is uniquely superior. We "Root Bleach" our knots to make them invisible, 
        we single strand the front hairline (providing real front hairline), and use the finest quality Human Remy Hair. 
        We offer our hairpieces at real wholesale prices to the public. Many of our clients who are longtime wearers will state 
        that we have the best hairpieces they have ever worn bar none. They of course also appreciate our aggressive pricing. 
        Many other companies charge more (full retail) for their hairpieces.</p>
</div>

<div class="vertical-space-medium question">
    <span>How To Order A Hair System?</span>
    <p>We make it Simple and Easy! Just click on Custom Hair System or Quick Order Form. Then click on add to cart. 
        Then you will be given drop down selections such as what hair system, hair density, hair color etc...
        If you know all your specs click appropriately. If you are unsure, use the links to the right to educate yourself. 
        You can also send in your hair sample to us if not sure what color you are. 
        Always feel free to conact us toll free to help assist the first time if needed. We are glad to help 888-446-5602.</p>
</div>

<div class="vertical-space-medium question">
    <span>How long will my new hair system last? </span>
    <p>Hair Systems are not intended to last forever. Without the body's natural oils to protect it, 
        human hair will eventually become drier and more brittle. On average, you will need a new hair system every three months or so. 
        Some people replace their hair system every six months and some every month. It is truly a personal decision. The newer the hair system, 
        the more vibrant the hair will be. Now with the more affordable options provided by HollywoodLace it is best to replace as often 
        as your budget allows.</p>
</div>

<div class="vertical-space-medium question">
    <span>When will I receive my new hair system? </span>
    <p>You should receive your new hair system in 3-6 weeks. Most other places make you wait 8-14 weeks. 
        We take great pride in our expedited service. Rush delivery is available for an extra charge of $49.00 to reduce delivery to about 4 weeks. 
        We also are one of the few places to offer a Super Rush to help get your piece created in as little as 3 to 4 weeks. 
        If you are a current client and have a "hair emergency", you can order a Stock Hair Systems and receive it the next day (U.S. only). </p>
</div>

<div class="vertical-space-medium question">
    <span>Should I get rid of my expensive hair club plan? Can I really do this myself?</span>
    <p><font size="+1">YES &amp; YES.</font> If you want to save money, get better quality hair systems and not be at the liberty of others, 
        get rid of your $500.00 a month membership and just learn to do it yourself. It is easy. There is nothing magical about doing it yourself. 
        You can either have us cut it for you, learn to cut it yourself, or go to a local salon for $50.00. 
    </p>
</div>

<div class="vertical-space-medium question">
    <span>After my first order, will my price go up?</span>
    <p>Your prices will not go up when you re-order. You will pay the same price. We committed to keeping our prices affordable and low for you. 
        Our hope is this will allow you to afford to wear a fresh looking hair system each and every day. </p>
</div>

<div class="vertical-space-medium question">
    <span>Can you copy my existing unit exactly?</span>
    <p>Absolutely! Send it to us and we'll be glad to have it duplicated exactly. You can even specify changes in base material, hair color, hair density, etc.
    </p>
</div>

<div class="vertical-space-medium question">
    <span>Will the lace match my skin color?</span>
    <p>Our laces and skins are transparent, allowing your natural skin tone to show through. Even if you tan during the summer, 
        the base will remain invisible. Some of our systems do offer different color bases and we would be happy to accomodate. 
        However, we do have different color bases for those who may feel they need. Please inquire with us.
    </p>
</div>