<div class="page-title">Hair System Care</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>

<div class="vertical-space-medium question">
    <span>How long will my new hair system last? </span>
    <p>Hair Systems are not intended to last forever. Without the body's natural oils to protect it, 
        human hair will eventually become drier and more brittle. On average, you will need a new hair system every three months or so. 
        Some people replace their hair system every six months and some every month. It is truly a personal decision. The newer the hair system, 
        the more vibrant the hair will be. Now with the more affordable options provided by HollywoodLace it is best to replace as often 
        as your budget allows.</p>
</div>

<div class="vertical-space-medium question">
    <span>When will I receive my new hair system? </span>
    <p>You should receive your new hair system in 3-6 weeks. Most other places make you wait 8-14 weeks. 
        We take great pride in our expedited service. Rush delivery is available for an extra charge of $49.00 to reduce delivery to about 4 weeks. 
        We also are one of the few places to offer a Super Rush to help get your piece created in as little as 3 to 4 weeks. 
        If you are a current client and have a "hair emergency", you can order a <a class="content" href="/static/stockhair">Stock Hair Systems</a> and receive it the next day (U.S. only). </p>
</div>

<div class="vertical-space-medium question">
    <span>Should I get rid of my expensive hair club plan?</span>
    <p><font size="+1">YES.</font>If you want to save money, not be at the liberty of others, Wear a hair system that looks perfect... 
        self care is the way to go. If you like the convenience receiving a new hair system on a regular basis, one of our <a class="content" href="#">Custom Hair Systems</a></p>
</div>

<div class="vertical-space-medium question">
    <span>Who will cut my hair system for me?</span>
    <p>Many salons refuse to cut a hair system they didn't sell. Others charge an exorbitant amount of money to do so. 
        Some salons are glad to do the job even if they did not sell you the hair system. Expect to pay anywhere from $35 - $75. 
        If you cannot find someone you trust to cut your hair system, try to find a women's hairdresser who is experienced in cutting wigs and hair systems. 
        Ask your wife, girlfriend or mother to check with the salon they use. Hairdressers know much more about hair cutting, 
        styling and blending (very important!) than barbers do.</p>
</div>

<div class="vertical-space-medium question">
    <span>Can you copy my existing unit exactly?</span>
    <p>You bet! Send it to us and we'll be glad to have it duplicated exactly. You can even specify changes in base material, hair color, hair density, etc.</p>
</div>

<div class="vertical-space-medium question">
    <span>Will the lace match my skin color?</span>
    <p> Our laces and skins are essentially transparent, allowing your natural skin tone to show through. Even if you tan during the summer, 
        the base will remain invisible.</p>
</div>

<div class="vertical-space-medium question">
    <span> What do I do with that strip of bare lace on my new hair system? </span>
    <p>All new lace systems have a strip of bare lace at the front that needs to be trimmed away.<br />
    It is easy to trim that excess lace with a pair of sharp scissors, 
    BUT - be sure to leave a 1/8" - 1/4" strip of bare lace ahead of the actual hairline.<br />
    Why? Having the bare lace in front means that if the lace starts to fray a bit, you will not lose hair at the hairline. 
    When it is attached, that small strip of lace disappears against your skin.</p>
</div>

