<div class="form-container">
    <h3>Edit Category</h3>
    <?php
    $form = $this->form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="field-contianer clearfix">
        <?php $DiscountTitle = $form->get('DiscountTitle'); ?>
        <div class="label-container left"><label><?php echo $DiscountTitle->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($DiscountTitle); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $DiscountCode = $form->get('DiscountCode'); ?>
        <div class="label-container left"><label><?php echo $DiscountCode->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($DiscountCode); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $OrderMinimum = $form->get('OrderMinimum'); ?>
        <div class="label-container left"><label><?php echo $OrderMinimum->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($OrderMinimum); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $DiscountType = $form->get('DiscountType'); ?>
        <div class="label-container left"><label><?php echo $DiscountType->getOption('label'); ?></label></div>
        <div><?php echo $this->formSelect($DiscountType); ?></div>
    </div>

    <div class="field-contianer clearfix">
        <?php $DiscountValue = $form->get('DiscountValue'); ?>
        <div class="label-container left"><label><?php echo $DiscountValue->getOption('label'); ?></label></div>
        <div><?php echo $this->formText($DiscountValue); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $StartDate = $form->get('StartDate'); ?>
        <div class="label-container left"><label><?php echo $StartDate->getOption('label'); ?></label></div>
        <div class="left"><?php echo $this->formText($StartDate); ?></div>
                    
        <?php $EndDate = $form->get('EndDate'); ?>
        <div class="label-container left"><label class="second"><?php echo $EndDate->getOption('label'); ?></label></div>
        <div class="left"><?php echo $this->formText($EndDate); ?></div>
    </div>
     
    <div class="field-contianer clearfix">
        <?php $description = $form->get('Description'); ?>
        <div class="label-container left"><label><?php echo $description->getOption('label'); ?></label></div>
        <div><?php echo $this->formTextArea($description); ?></div>
    </div>
    
    <div class="field-contianer clearfix">
        <?php $Status = $form->get('Status'); ?>
        <div class="label-container left"><label><?php echo $Status->getOption('label'); ?></label></div>
        <div><?php echo $this->formSelect($Status); ?></div>
    </div>

    <br/><br/>
    <div class="field-contianer clearfix" style="text-align: center">
        <input class="button" type="submit" value="Save" />
        <input class="button cancel" type="Button" value="Cancel" href="<?php echo $this->url('admin-store', array('action'=>'category'))?>" />
    </div>
<?php echo $this->form()->closeTag(); ?>
</div>
<script>
     $(function() {
         $( ".datepicker" ).datepicker();
     });
</script>