<ul class="bulet-list">
    <li>Click "Download Backup File" button below.</li>
    <li>Choose a location to save the file in the dialog that appears.</li>
</ul>
<br/>
<input class="button cancel" type="button" value="Download Backup File" href="<?php echo $this->url('admin-maintenance', array('action'=>'execute-export'))?>"/>
