<div class="page-title">Place a new Order</div>
<?php echo $this->partial('application/partial/topoption.phtml', array());?>
<div class="vertical-space-medium">
    <p class="form-text">Please choose from the drop down selections below. For additional instructions not covered or to emphasize something important to you 
        please type instructions in the box below. If you have any questions please don\'t hesitate to call us <b>954-505-7000.</b> 
        We always look forward to assisting you.
    </p>
</div>

<div class="vertical-space-medium">
    <span class="yellow"><?php echo $product['ProductName']?></span>
    <p class="form-text"><?php echo $product['ProductDescription']?></p>
</div>

<?php
$form = $this->form;
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('oldCartId'));
?>
<fieldset>
    <legend class="yellow">Please Select the various choices that you desire</legend>
    <?php if($product['CategoryID'] == 8):?>
    <p><b>Stock Hair System - $<?php echo number_format($product['ProductPrice1'], 2, '.', ',')?></b></p>
    <?php endif;?>
    <?php 
    echo $this->formRow($form->get('hairType'));
    foreach($this->optionGroups as $optionGroup):
        $optionGroupField = $form->get('GroupOptionID'.$optionGroup['OptionGroupID']);?>
        <label>
            <span><?php echo $optionGroupField->getOption('label');?></span>
            <?php echo $this->formSelect($optionGroupField); ?>
            <?php if($optionGroup['PopupTitle']):?>
            <a class="content popuo-source" href="<?php echo $optionGroup['PopupUrl']?>"><?php echo (strlen($optionGroup['PopupTitle'])> 25)? 'View Options':$optionGroup['PopupTitle'];?></a>
            <?php endif;?>
            <?php echo $this->formElementErrors($optionGroupField); ?>
        </label>
    <?php endforeach;?>
    <?php if($product['CategoryID'] == 7):?>
    <label>
        <?php $specialOffer = $form->get('specialOffer');
        echo $this->formCheckbox($specialOffer); ?>
        <?php echo $specialOffer->getOption('label'); ?>
    </label>
    <?php endif;?>
    
    <label>
        <?php $optional = $form->get('optional');
        echo $this->formCheckbox($optional); ?>
        <?php echo $optional->getOption('label').'add a professional hair cut and style $' . number_format($product['HairCutPrice'], 2, '.', ','); ?>
    </label>
    
    <div id="optional-fields" class="hidden">
        <p class="form-text">Please choose length selections below. Use your current hairpiece to measure or adjust as is necessary. 
            Additionally, you can email your picture to us at <a href="mailto:Hairstyle@hollywoodlace.com">Hairstyle@hollywoodlace.com</a> 
            or mail it to us.</p>
   
        <?php
        echo $this->formRow($form->get('frontLength'));
        echo $this->formRow($form->get('sideLength'));
        echo $this->formRow($form->get('backLength'));
        echo $this->formRow($form->get('topLength'));
        ?>
    </div>
    <?php if($product['FullCapPrice'] > 0):?>
    <label>
        <?php $fullcap = $form->get('fullcap');
        echo $this->formCheckbox($fullcap); ?>
        <?php echo $fullcap->getOption('label').' add $' . $product['FullCapPrice'] ; ?>
    </label>
    <div id="fullcap-fields" class="hidden">
        <p class="form-text">Enter the following seven measurements in inches to create your full cap hairpiece:</p>
    
        <label>
            <?php $measurement = $form->get('measurement1');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">Head Circumference.</span>    
        </label>
        <label>
            <?php $measurement = $form->get('measurement2');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">From front hairline center to back of neck hairline center.</span>    
        </label>
        <label>
            <?php $measurement = $form->get('measurement3');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">From ear to ear around the forehead (above eybrows).</span>
        </label>
        <label>
            <?php $measurement = $form->get('measurement4');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">From ear to ear over the top of the head.</span>    
        </label>
        <label>
            <?php $measurement = $form->get('measurement5');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">From temple to temple around the back of the head.</span>    
        </label>
        <label>
            <?php $measurement = $form->get('measurement6');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">Width of neck hairline at the back.</span>    
        </label>
        <label>
            <?php $measurement = $form->get('measurement7');?>
            <span><?php echo $measurement->getOption('label');?></span>
            <?php echo $this->formText($measurement); ?>
            <span class="field-info-text">From temple to temple over the head.</span>    
        </label>
    </div>
    <?php endif;?>
    <div>
        <?php $instruction = $form->get('instruction');?>
        <label><?php echo $instruction->getOption('label');?></label>
        <?php echo $this->formTextArea($instruction); ?>
    </div>
</fieldset>
<div class="vertical-space center" >
    <a class="submit" href="#"><img border="0" src="<?php echo $this->basePath(); ?>/images/paypal.gif" /></a>
</div>
<?php echo $this->form()->closeTag();?>
<script type="text/javascript">
    $('.hair-type').change(function(){
        document.location = '/order/'+$(this).val();
    });
    
</script>